.header-layout {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-left: 20px;

    & .header-icon {
        padding: 0 10px;
        &:hover {
            cursor: pointer;
        }
    }

    & .header-item {
        font-size: 14px;
        color: #505050;
        &:hover {
            cursor: pointer;
        }
    }
}