.scroll{
    .scrollbar{
        position: absolute;
        background-color:#505050;
        cursor:pointer;
        &:hover{
            background-color:#656565;
        }
        &:active{
            background-color:#444444;
        }
    }
}