@import '../../../libs/root.css';

.container{
    width: 100vw;
    font-size: var(--font-size-maintitle);

    & .left{
        position: absolute;
        top: 0;
        left: 0;
    }
    & .right{
        position: absolute;
        top: 0;
        right: 0;

        & .upload-picker {
            padding-right: 16px;
            min-width: 48px;
            text-align: right;
            color: var(--anyshare-main-red);
        }
    }
    & .icon{
        display: inline-block;
        width: 1.6rem;
        text-align: center;
    }
    & .title{
        margin: 0 3rem;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: pre;
    }
    & .link-button{
        padding: 0 0.3rem;
        color: #d70000;
        &:hover,
        &:active,
        &:focus,
        {
            color: #d70000;
        }
    }
}