.container{
    display: inline-block;
    max-width: 100%;
    &.inline{
        display: inline;
    }
}

.title{
    border: 1px solid #e0e0e0;
    padding: 5px;
    font-size: 13px;
    line-height: 16px;
    color: #505050;
    background-color: #fff;
}