:local .container {
    display: inline-block;
    min-width: 4rem;
    position: relative;
    z-index: 1;
    cursor: pointer;

    & .value {
        position: relative;
        height: 1rem;
        line-height: 1rem;
        background: #f0f0f0;

        &:hover {
            background: #e0e0e0;
            cursor: pointer;
        }

        & .padding {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border: 1px solid #d0d0d0;
            border-radius: 3px;

            & .text {
                display: block;
                padding: 0 1rem 0 .5rem;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                color: #333;
                text-decoration: none;

                & .drop {
                    position: absolute;
                    top: .1rem;
                    right: .25rem;
                    bottom: 0;
                }
            }
        }
    }

    & .options {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        max-height: 10rem;
        overflow: auto;

        &.active {
            display: block;
        }
    }
}