:local .container {
    & .table {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;

        & .record {
            border: 1px solid #e5e5e5;

            &.selected {
                background-color: #ffebc0;
            }

            & .cell {
                height: 1.5rem;
                padding: 0 .5rem;
                vertical-align: middle;
                text-align: left;

                &.checkbox-cell {
                    vertical-align: middle;
                    text-align: left;
                }
            }
        }
    }
}