:local .container {
    & .dialog {
        width: 380px;

        & .title {
            line-height: 1.5;
            font-size: 14px;
        }

        & .content {
            margin-top: 20px;

            & .text {
                display: inline-block;
                height: 32px;
                line-height: 32px;
                vertical-align: middle;
                margin-left: 10px;
                max-width: 336px;
                font-size: 14px;
            }
        }

        & .footer {
            margin-top: 20px;
            line-height: 1.5;
            color: #a5a5a5;
        }
    }

    & .warning {
        max-width: 380px;
    }
}