@import '../../../../../libs/root.css';

.condition-tag-box{
    display: table-cell;
    height: 30px;
    line-height: 30px;

    & .condition-tag-filters{
        display: inline-block;
        min-height: 30px;
        vertical-align: middle;
        
        & .condition-tag-filter{
            display: inline-block;
            height: 28px;
            padding: 0 10px;
            border: 1px solid #bdbdbd;
            border-radius: 5px;
            color: #376ea0;
            background-color: #fafafa;
            line-height: 28px;
            margin-right: 10px;

            & .delete-icon{
                padding-left: 10px;
                color: #757575;
            }
        }
    }

    & .condition-tag-input-box{
        display: inline-block;

        & .tag-input-content{
            display: inline-block;
            height: 30px;
            border: 1px solid #bdbdbd;
            border-radius: 3px;
            min-width: 220px;
            box-sizing: border-box;
            line-height: 30px;

            &:hover{
                box-shadow: var(--control-shadow__hover);
            }

            & .tag-input-filters{
                display: inline-block;
                line-height: 26px;
                white-space: nowrap;
                vertical-align: top;
                max-width: 600px;
                overflow: hidden;
                table-layout: fixed;
                direction: rtl;

                & .tag-input-filter{
                    display: inline-block;
                    height: 24px;
                    padding: 0 10px;
                    border: 1px solid #bdbdbd;
                    border-radius: 3px;
                    vertical-align: middle;
                    color: #376ea0;
                    background-color: #fafafa;
                    line-height: 24px;
                    margin-left: 5px;
                    direction: ltr;

                    & .delete-icon{
                        padding-left: 10px;
                        color: #757575;
                    }
                }
                    
            }

            & .condition-tag-input{
                display: inline-block;
                width: 198px;
                height: 20px;
                padding: 0px 10px;
                border: 0;
                line-height: 20px;
                overflow: hidden;

                &:hover{
                    cursor: text;
                }
                
                &:focus{
                    outline:0;
                }
            }

        }

        & .tag-input-content-foucs{
            border: 1px solid var(--control-border-color__focus);
            box-shadow: var(--control-shadow__focus);

            &:hover{
                box-shadow: var(--control-shadow__focus);
            }
        }

        & .tag-input-content-warning{
            border: 1px solid var(--anyshare-red-01);
        }

        

        & .confirm-icon{
            margin-left: 10px;
        }

        & .cancel-icon{
            margin-left: 10px;
        }
        
    }
    
    & .condition-tag-add{
        width: 20px !important;
        height: 30px;
        padding: 0px;
        border: 0px;
        font-weight: bold;
        line-height: 30px;
        vertical-align: middle;
        min-width: 0px !important;
        text-align: center;
        vertical-align: baseline;

        &:hover{
            cursor: pointer;
        }
    }
}

.condition-taginput-menu{
    width: 220px;
    overflow: auto;
    max-height: 300px;
    margin-left: 5px;

    & .condition-taginput-menuitem{
        height: 30px;
        padding-left: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}