.container{
    padding-top: 20px;
    & .quota-part{
        margin-bottom: 20px;
    }
    & .quota-space-title{
        display: block;
        margin-bottom: 10px;
    }
    & .stack-bar{
        border-radius: 0!important;
        background-color: #fff!important;
        padding: 0!important;
        height: 20px;
        & .stack-bar-info{
            position: absolute;
            top:30px;
            padding: 5px;
            background-color: #fafafa;
            color: #555;
            border:#555 solid 1px;
            border-radius:3px;
            font-size:12px;
            display: none;
        }
        & .stack{
            border-radius: 0!important;
            &:hover{
                & .stack-bar-info{
                    display: block;
                } 
            }
        }
        
    }
    
}