.container {
    width:1000px;

    & .mail-tip{
        padding: 10px 0;
    }

    & .test-btn{
        margin: 0 10px;
    }

    & .message {
        padding: 10px 0;
        color: #868686;
    }

    & .operation-check {
        display: table;
        position: relative;

        & .operation-message {
            display: table-cell;
            vertical-align: middle;
        }

        & .operation-btn {
            display: table-cell;
            padding: 10px;
            vertical-align: middle;

            & .link {
                color: #3c8eff;
            }
        }

        & .text {
            display: table-cell;
            padding-left: 10px;
            vertical-align: middle;
        }
    }
    & .operation-item {
        padding-bottom: 30px;
        background: #fff;
        
        & .operation-content {
            width: 400px;
            height: 480px;
            padding: 20px 50px;
            background: #fff;
            overflow-y: auto;
        }
  
        & .title {
            font-size: 18px;
            font-weight: bold;
            padding: 10px 0 20px 0;
            text-align: center;
        }

        & .title-2 {
            font-size: 15px;
            font-weight: bold;
            padding: 10px 0
        }

        & .content{
            line-height:20px;
            text-indent: 25px;
        }
        
    }
 
}