@import '../../libs/root.css';
.server {
    padding: 15px;


    .search-box {
        float: right;
        width: 240px;
    }

    .data-list {
        margin: 20px 0;

        .list-item {
            padding: 7.5px 0;
            white-space: nowrap;
        }

        .item {
            display: inline-block;
            vertical-align: top;
            line-height: 26px;
            margin-right: 30px;

            & .switch-button {
                display: inline-block;
                margin-left: 10px;
                vertical-align: middle;
                &:hover {
                    cursor: pointer;
                }
            }

            & .node-role {
                margin-right: 10px;
                vertical-align: -2px;
            }
        }

        .icon {
            margin-right: 10px;
        }

        .operation {
            display: inline-block;
            margin: 0 5px;

            &:hover {
                cursor: pointer;
            }
        }

        .inline-button {
            line-height: 24px;
        }

        .color-red {
            color: var(--anyshare-red-01);
        }

        .color-green {
            color: #049800;
        }

        .margin-left {
            display: inline-block;
            margin-left: 10px;
        }

        .master-node {
            display: inline-block;
            border: 1px solid;
            width: 24px;
            height: 24px;
            border-radius: 24px;
        }

        .slave-node {
            visibility:hidden;
        }

        .node-alias {
            margin-left: 25px;
        }
    }
}