.accessing-tabs {
    padding-left: 10px;

    & .loading {
        position: relative;
        z-index: 20;
    }

    & .flexBox-container {
        border-bottom: 1px solid #e0e0e0;
        
        & .accessing-tabs-common {
            padding-top: 20px 0 10px 0;
            padding-left: 20px;
            margin-bottom: 10px;
        }

        & .address-vertical {
            vertical-align: center;
        }

        & .title-common {
            padding: 20px 0 10px 0;
            font-size: 13px;
            color: #505050;
        }

        & .must-mark {
            color: #f00;
            padding-left: 3px;
        }

        & .button-position {
            text-align: left;
            & .button-common {
                margin: 10px 10px 10px 0;
                min-width: 30px;
                width: 68px;
                height: 30px;
                color: #505050;
                font-size: 13px;
            }
        }
        
        & .label-common {
            font-size: 13px;
            color: #505050;
        }
    }

    & .appconfig-toast {
        padding: 12px 33px;
        color: green;
        font-size: 24px;
    }
}