@import '../../../libs/root.css';

.wrapper{
    padding: var(--layout-spacing-medium) var(--layout-spacing-small) var(--layout-spacing-medium) var(--layout-spacing-large);
    min-width: 1000px;

    & .button-part{
        margin-bottom: var(--layout-spacing-medium);
        
        & .hot-spare{
            margin-left: var(--layout-spacing-small);
        }
    }
    
    & .category{
        text-align: center;
        height: 40px;
        line-height:40px;
        font-size: var(--font-size-subtitle);
        font-weight: bold;
        color: var(--anyshare-grey-07);
        background-color:#dceaeb;
    }

    & .text{
        height: var(--font-size-maintitle);
        line-height: var(--font-size-maintitle);
    }

    & .show{
        height: var(--font-size-maintitle);
        line-height: var(--font-size-maintitle);
        color: var(--font-color-link);
        cursor: pointer;

        &:hover {
            color: var(--font-color-link__hover);
        }

        &:active {
            color: var(--font-color-link__active);
        }
    }
}   
