:local .chip {
    display: inline-block;
    padding: .25rem;
    border: 1px solid #d0d0d0;
    border-radius: .25rem;
    background-color: #efefef;

    &.disabled {
        opacity: .5;
        *filter: opacity(alpha=50);

        & .action {
            cursor: default;

            &:hover {
                color: #585858;
            }
        }
    }

    & .text {
        display: inline-block;
        color: #333;
    }

    & .action {
        display: inline-block;
        margin-left: .25rem;
        color: #585858;
        text-decoration: none;

        &:hover {
            color: #000;
        }
    }
}