@import '../../../libs/root.css';

.container{
        
    .form-data {
        display: inline-block;
        vertical-align: middle;
    }  

   .red{
        color: var(--font-color-critical);
        padding:10px 0px 0px 0px;
   }

   .loading{
        color: var(--anyshare-blue-01);
        padding:10px 0px 0px 0px;
   }

}