@import '../../libs/root.css';


.storage-pool-body{
    position: relative;
    
    & .loading{
        position: relative;
        z-index: 20;
    }

    & .storage-pool-manager{
        width: 100%;

        & .storage-manager-head{
            position: relative;
            width: 100%;
            height: 180px;
            border-bottom: 1px solid var(--anyshare-grey-04);
            padding-bottom: 20px;

            & .storage-manager-infos{
                display: table;
                width: 100%;
                overflow: hidden;
                line-height: 45px;

                 & .storage-manager-infoItem-logicChart{
                    position: absolute;
                    top: -15px;
                    right: 450px;
                    line-height: 35px;

                    & .login-offline{
                        width: 150px;
                        height: 150px;
                    }

                    & .storage-manager-infoInline-title{
                        display: inline-block;
                        width: auto;
                        font-size: 13px;
                        vertical-align: middle;
                        color: #999999;
                        margin-right: 10px;
                        margin-left: -10px;
             
                    }



                }

                & .storage-manager-infoItem-physicalChart{
                    position: absolute;
                    top: -15px;
                    right: 200px;
                    line-height: 35px;

                    & .physical-offline{
                        width: 150px;
                        height: 150px;
                    }

                    & .storage-manager-infoInline-title{
                        display: inline-block;
                        width: auto;
                        font-size: 13px;
                        vertical-align: middle;
                        color: #999999;
                        margin-right: 10px;
                        margin-left: -10px;
                    }

                }

                & .storage-percent-info{
                    display: block;
                    margin-top: -15px;
                    text-align: center;
                     color: #999999;
                }
                
                
                & .storage-manager-infoInline-title{
                    display: inline-block;
                    width: 150px;
                    font-size: 13px;
                    vertical-align: middle;
                    color: #999999;
                }

                & .storage-manager-infoInline-content{
                    display: inline-block;
                    margin-right: 10px;
                    vertical-align: middle;
                }

                & .storage-manager-infoInline-percent{
                    display: inline-block;
                    font-size: 13px;
                    vertical-align: middle;
                    color: #000000;
                }

                & .storage-manager-infoInline-operation{
                    display: inline-block;
                    vertical-align: middle;
                    color: #505050;

                    &:hover{
                        color: #868686;
                    }

                    &:active{
                        color: #262626;
                    }

                }

               


                & .storage-manager-infoItem{
                    display: table-cell;
                    width: 30%;

                    & .storage-balance-btn{
                        height: 30px;
                        vertical-align: middle;
                    }
                    

                   


                    & .stack{

                    }
                }
            }
        }

        & .storage-manager-body{

            & .storage-manager-addDevices{
                display: block;
                height: 30px;
                margin: 15px 0;
                // background: #646b73;

                & .storage-manager-addIcon{
                    padding: 0 5px 0 0;
                    vertical-align: top;
                    color: #fff;
                }

                & .storage-manager-addLabel{
                    padding-left: 5px;
                    vertical-align: top;
                     color: #fff;
                }
            }

            
        }
    }
}

.font-real-bold{
    font-size: 13px;
    font-weight: bold;
    color: #010101;
}
.font-bold{
    display: inline-block;
    font-size: 13px;
    vertical-align: middle;
}

.font-color-red{
    display: inline-block !important;
    color: var(--anyshare-red-05) !important;
    vertical-align: middle !important;
}

.font-color-green{
    display: inline-block;
    color: var(--anyshare-green01);
    vertical-align: middle;

}