@import '../../libs/root.css';

.container {
    width: 100%;

    & .clear-indent {
        margin-right: 24px;
    }

    & .search-input {
        width: 100%;

        & .search-box {
            border: 1px solid #fff;
            line-height: 28px;
            padding-left: 5px;
            box-sizing: border-box;

            &:hover {
                border-color: var(--control-border-color__hover);
                box-shadow: var(--control-shadow__hover);
            }

            &:focus {
                border-color: var(--control-border-color__focus);
                box-shadow: var(--control-shadow__focus);
            }
        }

        & .clear {
            position: absolute;
            top: 77px;
            right: 40px;

            & .clear-icon {
                color: #9e9e9e;
                &:hover {
                    cursor: pointer;
                    color: #bdbdbd;
                }
                &:active {
                    color: #757575;
                }
            }
        }
    }

    & .drop-menu {
        position: absolute;
        height: calc(100vh - 106px);
        left: 0;
        right: 0;
        z-index: 1;
        border-top: none;
        background: #FFF;
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        & .range {
            width: 100%;
            padding: 5px 0;
            border-top: 1px solid #eeeeee;
            border-bottom: 1px solid #eeeeee;

            & .range-label {
                padding-left: 15px;
            }

            & .range-button {
                height: 24px;
                line-height: 24px;
                border: 1px solid #bdbdbd;
                border-radius: 0;
                background-color: #ffffff;

                &:hover {
                    background-color: #ffffff;
                    color: #d70000;
                }

                &:active {
                    background-color: #d70000;
                    color: #ffffff;
                }
            }

            & .range-current {
                border-right: none;
            }

            & .range-selected {
                height: 24px;
                line-height: 24px;
                border: 1px solid #d70000;
                border-radius: 0; 
                background-color: #d70000;
                color: #ffffff;
            }
        }

        & .quick-messager {
            width: 100%;
            padding: 30px 0;
            background: #fff;
            vertical-align: middle;
            text-align: center;

        & .messager-content {
            display: table-cell;
            padding: 2em;
            color: #a5a5a5;
        }
    }

    & .results {
        width: 100%;
        height:calc( 100vh - 184px );
        position: absolute;
        top: 35px;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-x: hidden;
        overflow-y: auto;
        border-bottom: 1px solid #e4e4e4;

            & .result-name {
                display: inline-block;
                width: 160px;
                padding: 0 5px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;

            & em {
                color: #B01F24;
                font-weight: bold;
            }

        }

        & .dir {
            width: 22px;
            height: 22px;
            float: right;
            border: 1px solid transparent;
            border-radius: 2px;
            &:hover {
                border-color: #d1d1d1;
                background-color: #ffffff;
            }
            &:active {
                border-color: #d1d1d1;
                background-color: #e4e4e4;
            }
            & .parent-path {
                position: relative;
                top: 4px;
                right: 2.5px;
                color: #757575;
            }
        }
    }

    & .search-more {
            width: 100%;
            padding: 18px;
            position: absolute;
            bottom: 0;

            & .global-search {
                color: #0066cc;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    & .search-icon {
        display: inline-block;
        position: relative;
        width: 29px;
        height: 30px;
        border-left: 1px solid #e4e4e4;

        &:hover {
            background-color: #efefef;
        }

        &:active {
            background-color: #dadada;
        }

        & .icon {
            position: relative;
            top: 8px;
            left: 8px;
        }
    }
}