@import '../../libs/root.css';

.personal{
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    & .info-wrap{
        margin-bottom:30px;
    }
    & .text{
        display: inline-block;
        max-width: 270px;
        vertical-align: middle;
    }
    & .docname{
        display: inline-block;
        max-width: 270px;
        vertical-align: top;
    }
    & .info-title{
        height:30px;
        line-height:32px;
        border-radius:3px;
        padding-left:10px;
        background-color:#f6f7fc;
        color:var(--font-color-list);
        margin-bottom:30px;
    }
    & .base-title{
        margin-bottom:16px;
    }
    & .icon{
        display: inline-block;
        width:60px;
        height:60px;
        font-size:40px;
        border:var(--anyshare-grey-05) solid 1px;
        line-height:60px;
        border-radius:5px;
        color:var(--anyshare-grey-05);
        margin-bottom:10px;
        text-align:center;
    }
    & .modify-password{
        color:var(--font-color-link);
        cursor:pointer;
        text-align:center;
    }
    & .label{
        color:var(--font-color-secondary);
        width:100px;
        display: inline-block;
        padding: 5px 0;
    }
    & .field{
        color:var(--font-color-regular);
        display:inline-block;
        line-height: 16px;
        max-width: 270px;
        white-space:nowrap;
    }
    & .total{
        width:340px;
        height:340px;
        margin-right:15px;
        border:var(--anyshare-grey-03) solid 1px;
        display: inline-block;
    }
    & .pie-title{
        font-size: 14px;
        color: #505050;
        padding-top:30px;
        margin-bottom:10px;
    }
    & .detail{
        width: 100%;
        max-width:590px;
        min-width: 500px;
        min-height: 290px;
        padding:25px;
        border:var(--anyshare-grey-03) solid 1px;
        display: inline-block;
        overflow: auto;
    }
    & .quota-part{
        margin-bottom: 15px;
    }
    & .quota-space-title{
        width: 500px;
        white-space:nowrap;
        margin-bottom:5px;
        line-height: 24px;
    }
    & .stack-bar{
        height: 18px;
        border-radius: 0!important;
        background-color: var(--background-light)!important;
        padding: 0!important;
    }
    & .stack{
        border-radius: 0!important;
        &:hover{
            & .stack-bar-info{
                display: block;
            } 
        }
    }
    & .actions{
        margin-left:10px;
    }
    & .email-value{
        display: inline-block;
        vertical-align: middle;
        max-width: 220px;
        line-height: initial;
    }
    & .eidt-wrap{
        margin-left:25px;
        display: inline-block;
        vertical-align: middle;
    }
    & .edit-icon{    
        cursor: pointer;
        font-size: var(--font-size-maintitle);
    }
    & .email-input-wrap{
        display: inline-block;
    }
}
