:local .container {
    & .pad {
        height: 1px;
        margin-top: 10px;
        background-color: #e4e4e4;
        overflow: hidden;
    }
    & .title {
        margin-top: 24px;
        font-weight: bold;
    }
    & .content-padding {
        & .meta-block {
            display: block;
            position: relative;
        }
    }
}