@import '../../../libs/root.css';

.div {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    height: 34px;
    line-height: 34px;

    & .file-icon{
        display:inline-block;
        vertical-align: top;
    }

    & .text {
        display: inline-block;
        margin-left: var(--layout-spacing-small);
    }

     & .icon {
        position: absolute;
        right: 5px;
        top:0;
    }
}