@import '../../libs/root.css';

.select-menu{

    & .attr-title{
        color: #868686;
    }

}

.condition-select-menu{
    max-height: 300px;
    overflow-y: auto;
    
    & .condition-select-items{
        padding: 0 0 0 15px;
    }
    
    & .selected{
        background: #f3f3fa; 
    }

    & .label-selected{
        color: var(--anyshare-main-red);
    }
}
