.tip {
    position: relative;
    top: -10px;
}

.dropbox {
    display: inline-block;
    margin-left: 15px;
}

.datagrid {
    margin: 10px auto;

    & .doc-icon {
        margin-right: 5px;
    }
}

.invisible {
    display: none;
}

.selsect-csf {
    width: 100px !important;
}
