.text-area {
    width: 300px;
    height: 180px;
}

.form-label {
    min-width: 90px;
}

.right-radio-button {
    display: inline-block;
    margin-left: 60px;
}

.appeal-range-tips {
    margin-left: 100px;
    color: #d70000;
}