@import '../../libs/root.css';

.container {
    overflow: auto;
    height: 100%;

    & .head-content {
        padding: 20px 10px 0px 16px;
        color: var(--font-color-secondary);
    }

    & .sub-item {
        padding: 10px 0 16px;
        line-height: 1.2;
    }

    & .big-font {
        line-height: 1.5;
    }
}