.container {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 13px;
    & .address {
        padding-left: 20px;
        & .wrapper {
            border-bottom: 1px solid #f4f4f4;
        }
    }
    & .docs-container {
        position: absolute;
        top: 55px;
        right: 0;
        bottom: 0;
        left: 0;
        & .main {
            position: relative;
            margin-right: 250px;
            height: 100%;
            & .docs {
                position: absolute;
                top: 45px;
                right: 0;
                bottom: 0;
                left: 0;
                padding-left: 20px;
                overflow-y: auto;
                & .empty-message{
                    margin-top: 10px;
                    size: 14px;
                    color: #868686;
                    & .upload{
                        margin: 0 5px;
                        color: #5a8cb4;
                    }
                }
            }
            & .dragarea {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                background: rgba(255, 255, 255, 0.7);
            }
        }
        & .detail {
            position: absolute;
            right: 0;
            top: 0;
            border-left: 1px solid #f4f4f4;
            width: 249px;
            height: 100%;
            overflow-y: auto;
        }
        & .mask {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            background-image: url('data:image/png;base64,');
        }
    }
    & .preview{
        position:fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1 ;
    }
}