:local .container{
    & .sharers-text {
        width: 240px;
        margin: 0 5px 0 0;
    }
    & .expire{
        margin-bottom: 10px;
    }
    & .warn-font {
        color: #ec000a;
    }
    & .form-Item-data {
        display: inline-block;
        vertical-align: middle;  
    }
}