.container {
    line-height: 1.5;
    word-break: break-all;
    text-align: left;

    & .icon {
        display: inline-block;
        line-height: 1;
    }

    & .content-right{
        display: inline-block;
        max-width: 290px;
        margin-left: 10px;
        margin-top: 4px;
        vertical-align: top;
    }
}