@import '../../../libs/root.css';

.erase{

    & .head{
        font-size: var(--font-size-subtitle);
        line-height: 1.5;
    }

    & .content{
         line-height:1.5;
         margin-top:20px;
    }
}