.tabs-container{
    height: 700px;
    width: 100%;
    overflow: hidden;

    & .tabs-shelter{
        height: 56px;
        width: 100%;
        background-color: #f5f5f5;
        border-bottom: 1px solid #dfdfdf;
    }

    & .tabs-title{
        padding-left: 30px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    & .tabs-content{
        padding: 0px 0;
        border: 0px solid #dfdfdf;
        margin: 0px 20px;
        height: 600px;
        overflow: hidden;


        & .loading {
            position: fixed;
            top: 45%;
            left: 45%;

            & .loading-box {
                padding: 20px 30px;
                display: inline-block;

                & .loading-message {
                    height: 30px;
                    line-height: 30px;
                    font-size: 15px;
                }
            }
        }

        & .body-wrap-up{

            & .data-grid{
                border: 0px;


                &:hover{
                    cursor:default;
                } 

                & .data-grid-field{
                    border: 0px;

                    &:hover{
                        cursor: default;
                    } 
                }

                & .data-grid-location{
                    border: 0px;
                    padding-left: 5px;

                    &:hover{
                        cursor: default;
                    }
                }

                & .leftShift{
                    padding-left: 0px !important;
                }

                & .data-grid-reason{
                    text-decoration:none;
                    color: #06c !important;
                    padding-left: 13px;

                    &:hover{
                        cursor:pointer;
                    }
                }

                & .data-grid-appeal{
                    padding-left: 14px;

                    &:hover{
                        cursor:pointer;
                    }
                    
                }

                & .data-grid-field-appeal{
                    text-decoration:none;
                    color: #06c;  

                    &:hover{
                        cursor:pointer;
                    }
                    
                }

                & .appeal-status-ok{
                    color: #d0d0d0;
                    
                }

                & .appeal-status-error{
                    color: #d70000;
                   
                }
                
                
            }
        }
        

    }
   
}







