:local .container {
    padding: .2rem;
    border: 1px solid #d0d0d0;
    border-radius: .2rem;
    box-shadow: 0 0 .2rem rgba(0,0,0,0.5);
    background: #f9f9f9;
    
    & .monthPanel {
        padding: .5rem .2rem;

        & .navWrapper {
            display: inline-block;
            margin: 0 .2rem;
        }
    }

    & .calendar {
        
    }
}