@import '../../../libs/root.css';

.icon-area {
    display: inline-block;
    margin-left: 20px;
    margin-top: 30px;
    height: 100px;
    width: 100px;
    text-align: center;

    & .message{
        margin-top: 20px;
    }
}

.package-area {
    display: inline-block;
    margin-left: 30px;
    vertical-align: top;

    & .text {
        line-height: 28px;
        color: var(--font-color-strong);
    }

    & .inline-block-style {
        display: inline-block;
    }

    & .delete-btn {
        margin-left: 20px;
        width: 80px;
        vertical-align: top;
        color: var(--font-color-regular);
    }

    & .upgrade-btn {
        margin-top: 10px;
        width: 80px;
        color: var(--font-color-regular);
    }
}

.text-height {
    line-height: 30px;
}

.progress-circle {
    position: relative;
    z-index: 20;
}

.link-btn {
    display: block;
    margin-top: 10px;
    color: #3c8eff;

    &:hover {
        color: #74aeff;
    }

    &:active {
        color: #006bff;
    }
}