@import '../../../../libs/root.css';

.contact-search-menu{
    width: 249px;
    max-height: 298px;
    overflow-y: auto;

    & .condition-search-resultItem{
        height: 70px;

        & .condition-result-name {
            height: 30px;

            &:hover {
                color: var(--font-color-critical);
            }
        }

        & .condition-result-group{
            height: 30px;
            color: var(--font-color-secondary);
        }
    }

    & .contact-search-noresult{
        padding: 0 15px;
        color: var(--font-color-secondary);
    }
}