:local .container {
    text-align: center;
   & .link-password {
        display: block;
        padding: 50px 0 0 0;
       & .password {
            display: inline-block;
            vertical-align: middle;
        }
        & .password-btn {
            display: inline-block;
            margin-left: 10px;
        }
    }

     & .password-error {
        color: #d70000;
        margin-top: 10px;
        height: 20px;
    }
    & .error {
        color: #9a9a9a;
    }
    
    & .error-tip {
        padding-top:18px;
        font-size: 16px;
        font-weight:bold;
        white-space:nowrap;
        color: #9a9a9a;
    }
} 