.container-wrap{
    width:100%;
    height:100%;
    background-color: #262626;
    color:#868686;
    font-size: 16px;
    text-align: center;
}
.container{
    width:100%;
    height:100%;
}

.toolbar{
    position: absolute;
    z-index: 10;
    bottom:44px;
    width: 460px;
    left:50%;
    margin-left: -230px;
    opacity: 1;
    transition:opacity .3s ease-in-out;
    &.hidden{
        opacity: 0;
        filter:alpha(opacity=0);
    }
}
.pdf-container{
    min-width:100%;
    min-height: 100%;
}
.cavas-wrap{
    text-align: center;
}
.page-canvas{
    display: block;
    margin:0 auto;
    margin-bottom:3px;
}
.scale-tip{
    position: absolute;
    z-index: 10;
    background: rgba(0, 0, 0, .7);
    line-height: 24px;
    padding: 6px 10px;
    top:60px;
    left:50%;
    transform: translate(-50%,0);
    border-radius: 3px;
    font-size: 13px;
    color:#fff;
}