:local .thirdLogin {
    position: relative;
    width:100%;

     & .input-btn {
        width: 100%;
        height: 40px;
        color: #fff;
        border-radius: 3px;
        word-spacing: 50px;
        margin-top: 10px;
        border: 1px solid transparent;
                
        &:hover {
            border-radius: 3px;
        }
        
        &:active {
            border-radius: 3px;
        }
    }
}