@import '../../../libs/root.css';

.icon-area {
    display: inline-block;
    margin-top: 24px;
    height: 100px;
    width: 100px;
    text-align: center;

    & .message{
        margin-top: 20px;
        line-height: 1.2;
    }

    & .ex-area {
        margin-top: 10px;

        & .second-message {
            display: inline-block;
            line-height: 1.2;
        }

        & .tip-icon {
            display: inline-block;
        }

        & .icon-margin {
            margin-left: 5px;
        }
    }
}

.package-area {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;

    & .text {
        line-height: 28px;
        color: var(--font-color-strong);
    }

    & .inline-block-style {
        display: inline-block;
    }

    & .delete-btn {
        margin-left: 20px;
        width: 80px;
        vertical-align: top;
        color: var(--font-color-regular);
    }
}

.text-height {
    line-height: 28px;
}
