 .wrapper {
     height: 500px;
     user-select: none;
     & .tabs-navigator {
         background: #f9f9f9;
         border-bottom: 1px solid #e0e0e0;
         padding: 20px 140px 0px;
         & .tabs-tab {
             width: 100px;
             padding: .5em 0px .25em;
         }
     }
     & .tabs-main {
         top: 55px;
         overflow: visible;
         bottom: initial;
         & .tabs-content {}
     }
     & .ui-icon {
         cursor: pointer;
         margin-right: 5px;
     }
 }

 .head {
     border-bottom: 1px solid #e0e0e0;
     & .left {
         padding: 20px;
         display: inline-block;
     }
     & .right {
         float: right;
         & .total-rate {
             margin-right: 15px;
         }
         & .button {
             margin: 12px 20px 12px 0px;
         }
     }
 }

 .content {
     position: absolute;
     left: 15px;
     right: 0;
     overflow: auto;
     height: 392px;
     .item {
         border-bottom: 1px solid #e0e0e0;
         & .icon {
             display: inline-block;
             padding: 15px 10px 15px 0px;
         }
         & .thumbnail-container {
             display: inline-block;
             padding: 15px 10px 15px 0px;
         }
         & .name {
             width: 180px;
             display: inline-block;
             padding: 15px 12px 15px 0px;
             & .text {
                 line-height: normal;
             }
         }
         & .size {
             width: 80px;
             display: inline-block;
             padding: 15px 10px 15px 0px
         }
         & .ratios {
             width: 160px;
             display: inline-block;
             vertical-align: middle;
         }
         & .time {
             width: 120px;
             display: inline-block;
             padding: 15px 10px 15px 0px;
         }
         & .status {
             width: 110px;
             display: inline-block;
             padding: 15px 10px 15px 20px;
             vertical-align: middle;
             text-align: center;
         }
         & .remark {
             width: 150px;
             display: inline-block;
             padding: 15px 20px 15px 0px;
             line-height: 1.3;
         }
         & .path {
             width: 270px;
             display: inline-block;
             padding: 15px 20px 15px 0px;
             & .text {
                 line-height: normal;
             }
         }
         & .right {
             float: right;
             display: inline-block;
             padding: 20px 10px 15px 0px;
             & .cell {
                 width: 24px;
                 height: 24px;
                 margin: 15px 10px 10px 0px;
                 cursor: pointer;
                 user-select: none;
                 text-align: center;
                 vertical-align: middle;
                 border: 1px solid transparent;
                 border-radius: 2px;
                 position: relative;
                 display: inline-block;
                 cursor: pointer;
                 &:hover {
                     background: #fff;
                     border-color: #d1d1d1;
                 }
                 &:active {
                     background: #e4e4e4;
                     border-color: #e0e0e0;
                 }
             }
             & .inner {
                 position: absolute;
                 top: 0;
                 right: 0;
                 bottom: 0;
                 left: 0;
                 padding: 5px 0;
                 & .ui-icon {
                     cursor: pointer;
                 }
                 &.disabled {
                     @apply --disabled;
                     cursor: default;
                 }
             }
         }
         & .form {
             display: inline-block;
             padding: 15px 15px 15px 0px;
         }
     }
 }