.container{
    min-height: 100vh;
    & .wrapper {
        &.tabless {
            /* padding-bottom: 10px; */
        }
    }
    & .nav-tabs{
        position: fixed;
        bottom: 0;
        border-top: 1px solid #b7b7b7;
        width: 100vw;
        & .tab{
            padding: .2rem 0 .1rem;
        }
    }
    & .user{
        width: 100vw;
        & .wrapper{
            padding: 1.6rem 0 1.6rem;
        }
        & .header{
            position: fixed;
            top: 0;
            width: 100vw;
            text-align: center;
        }
        & .quota{    
            margin: 0.3rem auto;
            width: 90%;
        }
        & .logout{   
            margin: 1rem auto;
            width: 10rem;
        }
    }
}