@import '../../../libs/root.css';

.container{
    user-select: none;

    & .crumbs {
        position: relative;
        margin-right: 30px;
        height: 55px;
        line-height: 55px;
        white-space: nowrap;
        overflow: hidden;

        & .crumbs-wrapper {
            display: inline-block;
            position: absolute;

            &.overflow {
                right: 0;
            }
        }

        & .crumb {
            display: inline-block;
            white-space: pre;
            background: #fff;
            color: var(--font-color-regular);

            &.back {
                position: relative;
                z-index: 1;
            }

            & .crumb-link {
                cursor: pointer;
                color: #5a8cb4;

                &:active {
                    color: #376ea0;
                }

                &:hover {
                    color: #78b4d7;
                }
            }

            & .divider {
                margin: 0 5px;
            }
        }
    }
}