.tab {
    box-sizing: border-box;
    display: inline-block;
    min-width: 3em;
    height: 36px;
    line-height: 24px;
    padding: .5em .5em .25em .5em;
    border-width: 0 0 3px 0;
    border-style: solid;
    border-color: transparent;
    text-align: center;

    &:hover {
        cursor: pointer;
        color: #d70000;
    }
    
    &.active {
        border-color: transparent transparent #d70000 transparent;
        color: #d70000;
    }
}