@import '../../../libs/root.css';

.wrapper{
    max-height: 260px;
    overflow: auto;

    & .search-filed{
        height: 45px;

        & .search-box{
            float: right;
            margin-right: 0;
            margin-top: 7px;
        }
    }

    & .item-wrapper{
        height: 16px;
        line-height: 16px;
        color: var(--font-color-secondary);
    }

    & .modifytime{
        padding-left:var(--layout-spacing-medium);
    }

    & .hover-action{
        background-color: #fff;
    }
}