:local .container{

    & .info-content-header {
        background: url("./assets/info_header_bg.png") repeat-x scroll left top;
        width: 760px;
        height: 28px;
        line-height: 28px;
        padding: 3px 10px;
        border: 1px solid #CCCCCC;
        border-radius: 2px;
        margin-bottom: 10px;
        font-size: 13px;
        color: #555;

        & .info-header-title {
            padding-left: 10px;
            font-weight: 600;
            background: no-repeat left center;
        }
    }

    & .security-label {
        padding: 0 6px 0 13px;
    }

    & .security-classification {
        margin-left: 20px;
    }

    & .security-comment {
        margin: 5px 0 20px 40px;
        color: #888;
    }

    & .password-comment {
        margin: 12px 0 20px 40px;
        color: #888;
    }

    & .inline-layout {
        display: inline-block;
        position: relative;
        margin: 0 2px 10px 2px;
    }
    
    & .triangle-up {
        width: 0;
        height: 0;
        position: absolute;
        top: 4px;
        right: 18px;
        cursor: pointer;
    }
    
    & .triangle-down {
        width: 0;
        height: 0;
        position: absolute;
        top: 14px;
        right: 18px;
        cursor: pointer;
    }

    & .comment-start {
        display: inline-block;
        position: relative;
        color: #888;
        text-indent: 42px;
    }

    & .comment-after {
        color: #888;
    }

    & .custom-security-comment {
        margin-bottom: 10px;
    }

    & .security-grid {
        width: 360px;
        margin: 15px auto;
        overflow: hidden;
    }

    & .secu-save-btn {
        display: inline-block;
        position: absolute;
        left: 10px;
        width: 20px;
        height: 20px;
        top: -10px;
        border: 0;
        line-height: 20px;
        cursor: pointer;
    }

    & .secu-cancel-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        width: 20px;
        height: 20px;
        border: 0px;
        top: -10px;
        line-height: 20px;
        cursor: pointer;
    }

    & .dropbox-first {
        position:relative;
        z-index:3
    }

    & .dropbox-second {
        position:relative;
        z-index:2
    }

    & .delete-secu {
        display: inline-block;
        vertical-align: middle;
        padding-left: 60px;
    }

    & .custom-secu-name {
        display: inline-block;
        width: 200px;
        vertical-align: middle;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
    }

    & .list {
        position:relative;
        width: 360px;
        height: 168px;
        margin: 15px auto;
        overflow-x: hidden;
        overflow-y: auto;
        border: 1px solid #d0d0d0;
    }

    & .li {
        padding: 5px 20px;
        height: 32px;
        line-height: 32px;
        vertical-align: middle;
    }

    & .add-li {
        padding: 5px 20px;
        height: 20px;
        line-height: 20px;
        vertical-align: middle;
    }

    & .li-even {
        background-color: #eeeeee;
    }

    & .temp-li {
        height: 32px;
        vertical-align: middle;
    }

    & .save-edit {
        display: inline-block;
        position: relative;
        left: 30px;
    }

    & .cancel-edit {
        display: inline-block;
        position: relative;
        left: 60px;
    }

    & .errcnt {
        position: relative;
        top: 10px;
        left: 20px;
        color: #ec000a;
    }

    & .errmsg {
        position: relative;
        left: 2px;
        color: #ec000a;
    }

    & .pass-lock {
        position: relative;
        left: 15px;

    }

    & .confirm-msg {
        margin: 20px auto;
    }

}