.button-wrapper {
    display: inline-block;
    width: 50%;
    text-align: center;
}

.left-btn {
    box-sizing: border-box;
    border-right: solid 1px #d0d0d0;
}

.main {
    line-height: 1.5;
    word-break: break-all;
}