@import '../../libs/root.css';

.container {
    border: 1px solid #d0d0d0;
    border-radius: 0.2rem;
    box-shadow: 0 0 0.2rem #d0d0d0;
    background-color: var(--control-background-color);

    &.box-sizing-border-box {
        box-sizing: border-box;
    }
}