:local .container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    & .header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 1.5rem;
        color: #f0f0f0;
        & .headerPadding {

            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: .5rem 0;

            & .back {
                display: inline-block;
                padding: 0 .5rem;
            }

            & .title {
                position: absolute;
                top: .5rem;
                left: 0;
                bottom: .5rem;
                right: 0;
                margin: 0 2rem 0 1.5rem;
                height: .5rem;
                line-height: .5rem;
                overflow: hidden;
                white-space: nowrap;
                font-weight: bold;
                text-align: center;
            }

            & .action {
                position: absolute;
                top: 0;
                right: 0;
                width: 40px;
                line-height: 1.6rem;
                text-align: center;
            }
        }
    }

    & .main {
        position: absolute;
        top: 1.5rem;
        bottom: 0;
        left: 0;
        right: 0;
        padding: .5rem 0;
        background: linear-gradient(#f8f8f8, #f0f0f0) #f8f8f8;
    }
}