@import '../../../../../libs/root.css';

.date-menu{
    & .attr-title{
        color: #868686;
    }

    & .search-button-container{
        display: inline-block;
        height: 90%;

        & .search-date-button{
            border: 0;

            & .expand-icon{
                padding-left: 5px;
                cursor: pointer;
                color: var(--anyshare-grey-07);
            }

            &:hover {
                background-color: var(--anyshare-grey-03);
            }

            &:active {
                background-color: var(--anyshare-grey-04);
            }
        }

        & .clicked{
            background-color: var(--anyshare-grey-03);
        }
    }
    
}

.condition-modified-menu{   
    width: 310px;
    padding: 10px;
    vertical-align: middle;

    & .inline-title{
        height: 30px;
        
        & .inline-radio{
            vertical-align: middle;
        }

        & .datebox-type{
            display: inline-block;
            vertical-align: middle;
            margin-right: 20px;
        }
    }


    & .inline-datebox{
        display: inline-block;
        vertical-align: middle;    
    }

    & .short-line-icon{
        display: inline-block;
        vertical-align: middle;
    }
}