@import '../../../libs/root.css';

.full-search{
    height: 100%;
    color: #505050;

    & .result-container{
        position: absolute;
        top: 110px;
        right: 40px;
        bottom: 10px;
        left: 40px;
        transition: all 0.3s;
        
    }

    & .result-container-client{
        right: 40px;
    }

    & .result-container-long-expand{
        top: 230px;
        transition: all 0.3s;
    }

    & .result-container-short-expand{
        top: 197px;
        transition: all 0.3s;
    }
}
