:local .flex {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    & .message {
        color: #333;
    }

    & .tip-message {
        margin: 0 20px;
        line-height: 1.5;
        word-break: break-all;
        text-align: center;
    }

    & .download-link {
        color: rgb(0, 0, 238)
    }
    & .waring {
        margin-bottom: 10px;
    }
}