.container{
    width:100%;
    & .bar{
        height:3px;
        background-color:#bdbdbd;
        margin-bottom:6px;
    }
    & .detail{
        text-align: center;
        font-size: 14px;
        color:#bdbdbd;
    }
}