.discription-text {
    margin: 10px 0 10px 22px;
    color: #999;
}

.text {
    margin: 0 10px;
    vertical-align: middle;

    &:hover {
        cursor: default;
    }
}

.disable-status {
    opacity: 0.5;
}

.select-margin {
    display: inline-block;
    vertical-align: sub;

    & .limit-type {
        width: 80px !important;
    }
}

.search-box {
    float: right;
}

.operation {
    margin-right: 10px;
}

.datagrid-area {
    position: relative;

    & .loading-container {
        position: absolute;
        width: 1050px;
        height: 436px;
        background: rgba(210,210,210,0.5);
        filter: alpha(opacity=50);
        z-index: 20;

        & .loading-area {
            position: relative;
            top: 30%;
            text-align: center;

            & .loading-message {
                height: 30px;
                line-height: 30px;
                font-size: 15px;
            }
        }     
    }
}



