@import '../../libs/root.css';

.button {
    height: var(--input-height);
    padding: 0 var(--layout-spacing-small);
    border: 1px solid #bdbdbd;
    border-radius: var(--control-border-radius);
    box-shadow: none;
    box-sizing: border-box;
    line-height: normal;
    text-align: center;
    cursor: pointer;
    outline: none;
    font-size: var(--font-size-regular);
    font-family: var(--font-family);

    & .icon {
        display: inline-block;
        margin-right: 10px;
    }

    &.regular {
        background-color: var(--control-background-color);
        color: var(--font-color-regular);

        &:hover {
            background-color: var(--anyshare-grey-02);
        }

        &:active {
            background-color: var(--anyshare-grey-03);
        }

        &.disabled {
            border-color: var(--control-border-color__disabled);
            background-color: var(--control-background-color);
            color: var(--font-color-regular);
            @apply --disabled;
        }
    }

    &.dark {
        background-color: var(--background-dark);
        color: var(--font-color-light);
        border-color: var(--background-dark);

         &:hover {
             background-color: var(--background-dark__hover);
             border-color: var(--background-dark__hover);
         }

         &:active {
             background-color: var(--background-dark__active);
             border-color: var(--background-dark__active);
         }

         &.disabled {
             background-color: var(--background-dark__disabled);
             border-color: var(--background-dark__disabled);
         }
    }
}