.container {
    position: relative;
    overflow: hidden;
    & .image {
        position: absolute;
        cursor: pointer;
        /* transition: transform 0.3s; */
    }
    & .icon {
        position: absolute;
        top: 50%;
        margin-top: -40px;
        display: inline-block;
        width: 35px;
        height: 80px;
        font-size: 32px;
        line-height: 80px;
        text-align: center;
        background: #000;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 2px;
        color: #bdbdbd;
        &.hide{
            display: none;
        }
        &.prev {
            left: 20px;
        }
        &.next {
            right: 20px;
        }
    }
    & .toolbar{
        position: absolute;
        bottom: 44px;
        left: 50%;
        width: 360px;
        margin-left: -180px;
        text-align: center;
        &.hide{
            display: none;
        }
    }
    & .zoom-tip{
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -20px;
        margin-left: -30px;
        width: 60px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background: #000;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 4px;
        color: #bdbdbd;
        font-weight: bold;
        &.show{
            display: block;
        }
    }
}

.text{
    margin-top: 10px;
    color: #bdbdbd;
}