@import '../../libs/root.css';

.clipboard-button {
    height: var(--input-height);
    padding: 0 var(--layout-spacing-small);
    border: 1px solid #bdbdbd;
    border-radius: var(--control-border-radius);
    box-shadow: none;
    box-sizing: border-box;
    line-height: normal;
    text-align: center;
    cursor: pointer;
    outline: none;
    font-size: var(--font-size-regular);
    font-family: var(--font-family);

    background-color: var(--control-background-color);
    color: var(--font-color-regular);

    &:hover {
        background-color: var(--anyshare-grey-02);
    }

    &:active {
        background-color: var(--anyshare-grey-03);
    }

    &.disabled {
        border-color: var(--control-border-color__disabled);
        background-color: var(--control-background-color);
        color: var(--font-color-regular);
        @apply --disabled;
    }
}