:local .container {
    & .left-label {
        width: 80px;
        display: inline-block;
        vertical-align: middle;
    }
    & .combo-area {
        width: 350px;
        display: inline-block;
        vertical-align: middle;
    }
    & .button {
        display: inline-block;
        vertical-align: middle;
    }
    & .button-container {
        margin-top: 5px;
    }
    & .form-data {
        display: inline-block;
        vertical-align: middle;
        padding-right: 10px;
    }
    & .validate-message {
        position: absolute;
        display: inline-block;
        margin: 3px 0 0 3px;
    }
    & .locator {
        display: none;
    }
}