:local .container {
    width: 600px;
    height: 300px;
    & .fl {
        float: left;
    }
    & .fr {
        float: right;
    }
    & .doclibs{
        position: absolute;
        top: 5px;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        border: 1px solid #ccc;
    }
    & .selected-wrapper,
    & .doclib-wrapper {
        position: relative;
        width: 50%;
        height: 100%;
    }
    & .selected-header {
        margin-left: 14px;
        line-height: 36px;
    }
    & .doclib-list {
        position: absolute;
        top: 40px;
        right: 0;
        bottom: 0;
        left: 0;
    }
    & .selected-list {
        position: absolute;
        top: 41px;
        right: 0;
        bottom: 0;
        left: 20px;
        overflow-y: auto;
        border: 1px solid #ccc;
    }
    & .doclib-item,
    & .selected-item {
        position: relative;
        height: 30px;
        line-height: 30px;
    }
    & .doclib-content {
        padding: 0 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    & .doclib-name {
        padding-left: 6px;
    }
    & .selected-item {
        padding-right: 30px;
    }
    & .button-wrapper {
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        text-align: center;
    }
    & .search-wrapper {
        width: 300px;
        padding: 5px;
        box-sizing: border-box;
    }
}