.item{
    position: relative;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #f4f4f4;
    cursor: default;
    box-sizing: border-box;
    & .wrapper{
        position: relative;
        &.checkbox-padding{
            padding-left: 20px;
        }
        &:hover{
            background: #f5f9ff;
        }
        & .checkbox{
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 100%;
        }
    }
    &:hover{
        border-top: 1px solid #e8f2f7;
        border-bottom: 1px solid #e8f2f7;
    }

    &.selected{
        border-top: 1px solid #e8f2f7;
        & .wrapper{
            background: #e8f2f7;
            &:hover{
                background: #e8f2f7;
            }
        }
        &:hover{
            border-top: 1px solid #b3c9ce;
            border-bottom: 1px solid #b3c9ce;
        }
    }
}