.container {
    height: 100vh;
    background: #f5faff;

    & .login-panel{
        padding: 1rem 0 0.7rem 0;
    }

    & .content {
        top: 0;
        left: 0;
        right: 0;
        padding: .5rem 0;
        background-image: linear-gradient(#cc0000, #aa0000);
        color: #f0f0f0;
        text-align: center;
    }

    & .user-png {
        height: 3rem;
        padding: 1rem 0;
    }

    & .user-login {
       & .login {
            margin: 0.5rem auto;
            position: relative;
            width: 10rem;
       }
    }

    & .error-message {
        border-color: #353535;
        background: #494949 ;
        color: #fff;
    }

    & .login-logo {
        text-align: center;
    }
    & .login-slogan {
        text-align: center;
        font-size: 0.6rem;
        padding: 0.2rem 0;
    }
    
    & .login-image {
        width: 7rem;
    }

    & .change-panel {
        text-align: center;
        color:#4C4D4D;
        font-size:100%;
    }

}