.container {
    position: relative;
    height: 100%;

    & .nav {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 200px;
        padding: 25px 0 0 0;
        border: 1px solid #ddd;
        border-left: none;
        background: #f9f9f9;
        box-shadow: 0 0 3px #eee;

        & .nav-item {
            & .nav-link {
                display: block;
                padding: 1em;
                color: #585858;
                text-decoration: none;

                &:hover {
                    background: #f0f0f0;
                }

                &.active {
                    background: #fff;
                }
            }

        }
    }
    
    & .content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 200px;
        overflow: auto;

        & .header {
            margin: 1.5em 1em;

            & .title {
                font-size: 120%;
                font-weight: bold;
            }

            & .subtitle {
                display: block;
                margin: 1em 0;
                color: #858585;
                font-weight: normal;
                font-style: italic; 
            }
        }

        & .api {
            margin: 1.5em 1em;
        }

        & .spliter {
            height: 1px;
            background: #f0f0f0;
            margin: 2em 1em;
        }

        & .demo {
            margin: 1.5em 1em;

            h2 {
                font-weight: bold;
                margin: 1.5em 0;
            }

            & .demostration {
                margin-top: 1em;
            }
        }
    }
}