@import '../../../libs/root.css';

.wrapper{
    padding: var(--layout-spacing-medium) var(--layout-spacing-small) var(--layout-spacing-medium) var(--layout-spacing-large);
    min-width: 1000px;
     
    & .table{
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;

        & .category{
            text-align: center;
            height: 39px;
            line-height:39px;
            font-size: var(--font-size-subtitle);
            font-weight: bold;
            color: var(--anyshare-grey-07);
            background-color:#dceaeb;

            & .physical-category{
                border:1px solid #dceaeb;
            }
            & .logic-category{
                background-color: #b7e5ff;
                border:1px solid #b7e5ff;
            }
        }
        & .parameter{
            border: 1px solid #f1f6fa;
            background-color: #f1f6fa;
            height: 40px;

            & .head-cell{
                padding: 4px 10px;
                font-size: var(--font-size-subtitle);
                color: var(--anyshare-grey-07);
                text-align: left;
                vertical-align: middle;
                width: 10%;
                }

                & .pd-firmware{
                    width: 13%;
                }

                & .pd-details{
                    width: 7%;
                }

            }

        & .rows{
            height: 40px;
            border: 1px solid #e5e5e5;
            border-width: 0 0 1px 0;

            & .body-cell{
                padding: 4px 10px;
                font-size: var(--font-size-regular);
                color: var(--font-color-regular);
                text-align: left;
                vertical-align: middle;

                & .text{
                    height: var(--font-size-maintitle);
                    line-height: var(--font-size-maintitle);
                }
            }

            & .show{
                color: var(--font-color-link);
                cursor: pointer;

                &:hover {
                    color: var(--font-color-link__hover);
                }

                &:active {
                    color: var(--font-color-link__active);
                }
            }
        }
        
        & .separated{
            border-right: 1px solid #e5e5e5;
        }
    }
}

