@import '../../libs/root.css';

.search{
    
    & .search-container{
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        height: var(--input-height);
        line-height: var(--input-height);
        padding: 0 var(--layout-spacing-small);
        border: 1px solid #bdbdbd;
        border-radius: 2px;

        & .search-icon{
            position:relative;
            left: 0px;
            display: inline-block;
            color: var(--font-color-disabled);
        }

        & .search-content{
            position: relative;
            display: inline-block;
            padding: 0 0 0 15px;

            & .search-filters{
                display: inline-block;
                white-space: nowrap;
                max-width: 270px;
                overflow: hidden;
                vertical-align: middle;
                table-layout: fixed;
                direction: rtl;

                
                & .search-filter-item{
                    display: inline-block;
                    height: 23px;
                    padding: 0 0.5em;
                    border: 0;
                    margin: 0 2px;
                    border-radius: 3px;
                    line-height: 23px;
                    background-color: #e8f2f7;
                    direction: ltr;

                    & .search-delete{
                        vertical-align: top;
                    }
                }
            }
                    
            & .search-input{
                width: 190px;
                border: 0;
                margin: 0;
                font-size:var(--font-size-subtitle);
                padding-left: 5px;
                letter-spacing: 0;
                outline: none;

                &:focus{
                    outline:0;
                }
            }

            & .empty-icon{
                color: var(--anyshare-grey-06);
            }

            & .blank-icon{
                display: inline-block;
                width: 13px;
                height: 12px;
            }
        }
    }

    & .search-foucs{
        border: 1px solid var(--control-border-color__focus);
        box-shadow: var(--control-shadow__focus);
        border-right: 0;
    }
}

.search-menu{
    position: relative;
    top: 0;
    left: 0;
    width: 258px;
    box-sizing: border-box;
    border: 1px solid #cfcfcf;
    z-index: 999;
    background-color: var(--control-background-color);
                
    & .search-item{
        position: relative;
        padding: 0 var(--layout-spacing-small);
        height:var(--layout-spacing-large);
        line-height:var(--layout-spacing-large);
    }
}