.toolbar {
    margin: 5px 0 10px 0;
}

.loading {
    position: fixed;
    top: 45%;
    left: 45%;

    & .loading-box {
        padding: 20px 30px;
        display: inline-block;

        & .loading-message {
            height: 30px;
            line-height: 30px;
            font-size: 15px;
        }
    }
}

.searching {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.search-end {
    opacity: 1;
    filter: alpha(opacity=100);
}

.text-icon {
    position: relative;
    line-height: 24px;
    height: 24px;

    & .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.text {
    line-height: 24px;
}

.text-width {
    width: 90%;
}

.detail {
    line-height: 24px;
    text-decoration: none;
    color: #2B78E4;
}

.detail:hover {
    color: #6FA8DC;
}

.detail:active {
    color: #085394;
}