@import '../../../libs/root.css';

.storage-init{

    & .loading{
        position: relative;
        z-index: 20;
    }
    
    & .storage-init-title{
        display: block;
        line-height: 50px; 
    }

    & .storage-select-menu{
        display: inline-block;
        line-height: 50px;

        & .storage-select-btn{
            width: 264px;
            height: 30px;
        }
    }

    & .storage-excuteInit-btn{
        display: inline-block;
        width: 80px;
        height: 30px;
        padding: 0;
        margin-left: 10px;
    }

}

.storage-select-popmenu{
    width: 262px;
}
.font-grey{
    display: inline-block;
    font-size: 13px;
    color: #999999;
    vertical-align: middle;
    line-height: 50px;
}

.font-color-red{
    display: inline-block;
    font-size: 13px;
    color: var(--font-color-critical);
    vertical-align: middle;
}

.font-color-green{
    display: inline-block;
    color: var(--anyshare-green01);
    vertical-align: middle;

}