@import '../../libs/root.css';

.autocomplte-list {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    border: 1px solid var(--anyshare-grey-04);
    border-radius: 3px;
    background: var(--anyshare-grey-02);
    box-shadow: 0 0 1px 0 var(--anyshare-grey-06);
}