  @import '../../libs/root.css';
 
 .container{
    position: static;
    background-color: var(--background-light);
    font-size:var(--font-size-regular);
    min-width: 1100px;

    & .navigator{
        height: 64px;
        background-color: var(--background-light);
        border-bottom: 1px solid #e6e6e6;

        & .tab{
            width: 180px; 
            height: 64px;
            line-height: 55px;
            font-size: var(--font-size-maintitle);
        }

        & .device{
            margin-left: 80px;
        }
    
    }     

    & .tab-main{
        position: static;

        & .tab-content{
            position: static;
        }
    }  
 }
