@import '../../libs/root.css';
:local .container {
    width: 172px;
    position: absolute;
    & .ul {
        /*white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        box-shadow: 0 0 20px 0 #585858;*/
        border: 1px solid var(--anyshare-grey-04);
        border-radius: 3px;
        background: var(--anyshare-grey-02);
        box-shadow: 0 0 1px 0 var(--anyshare-grey-06);
        overflow-x: hidden;
        overflow-y: auto;
    }
    & .li {
        height: 8px;
        text-align: left;
        padding: 8px 5px;
        &:hover {
            cursor: pointer;
            background-color: #e0e0e0;
        }
    }
    & .empty {
        height: 8px;
        text-align: left;
        padding: 8px 5px;
        color: #AC000E;
    }
}