@import '../../../libs/root.css';

.container {
    padding-top: 20px;
    padding-left: 30px;

    & .DNS-server-address {

        & .DNS-server-address-title {
            padding-bottom: 10px;
            font-size: var(--font-size-subtitle);
            color: #505050;
        }

        & .label-common {
            font-size: var(--font-size-regular);
            color: #505050;
        }
    }

    & .button {
        padding-top: 10px;
        
        & .save-button {
            margin-right: 10px;
        }
    }
}