.icon{
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid  transparent;
    width: 24px;
    height: 24px;
    line-height: 22px;
    text-align: center;
    color: #757575;
    &.enabled{
        &:hover{
            border: 1px solid #cfcfcf;
            background: #fff;
        }
        &:active{
            border: 1px solid #cfcfcf;
            background: #e0e0e0;
        }
    }
}