.title {
    margin-bottom: 20px;
    font-size: 16px;
}

.time-count {
    display: inline;
    margin-left: 20px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.warning {
    color: #d70000;
}

.ok-btn {
    margin-top: 20px;
}

.tag {
    margin-left: 6px;
    vertical-align: middle;
    font-size: 14px;
    color: red;
}