.message-list {
    position: absolute;
    top: 55px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0 20px;
    overflow-y: auto;
    & .result-item {
        padding: 20px 0 5px 0;
        border-bottom: 1px solid #f4f4f4;

        & .name-wrapper{
            position: relative;
            height: 32px;

            & .title-a,
            & .title-span,
            & .title-normal{
                height: 32px;
                & .title-text {
                    font-weight: normal;
                    max-width: 700px;
                    font-size: 15px;
                    line-height: 16px;
                    margin-left: 15px;
                    display: inline-block;
                    vertical-align: top;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                & .notice-icon-wrap {
                    width: 16px;
                    display: inline-block;
                    margin-right: 5px;
                    vertical-align: top;
                    & .notice-icon {
                        vertical-align: top;
                        color: #d70000;
                    }
                }
            }
            & .title-a {
                display: inline-block;
                font-weight: bold;
                cursor: pointer;
                & .title-text {
                    color: #000;
                    &:hover {
                        color: #3c8eff;
                    }
                    &:active {
                        color: #006bff;
                    }
                }
            }
            & .title-span {
                display: inline-block;
                font-weight: bold;
                & .title-text {
                    color: #868686;
                }
            }

            & .docname{
                position: absolute;
                top:5px;
                left: 55px;
            }
        }
        
        & .content {
            font-size: 13px;
            line-height: 20px;
            color: #868686;
            padding: 0 69px;
            & .layout-spacing {
                display: inline-block;
                white-space: nowrap;
            }
            & .layout-spacing,
            & .handle-layout-spacing {
                & .atom {
                    display: inline-block;
                    padding-right: 20px;
                    white-space: nowrap;
                    & .link {
                        color: #3c8eff;
                        cursor: pointer;
                        display: inline-block;
                        max-width: 700px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        vertical-align: top;
                        &:hover {
                            color: #74aeff;
                        }
                        &:active {
                            color: #006bff;
                        }
                    }
                }
            }
        }
        &:hover {
            background-color: #f5f9ff;
        }
    }
}