.container{
    display: table;
    height: 100%;
    width: 100%;
    overflow: hidden;
            
    & .exception-text {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
}