:local .node {
    & .detail {
        margin: .25rem 0;

        & .toggler {
            margin-right: .5em;
            vertical-align: middle;
        }

        & .name {
            display: inline-block;
            margin-left: 0.5em;
            vertical-align: middle;
        }

        &.selected > .name {
            background-color: #e8e8e8;
        }
    }
    
    & .branch {
        margin-left: 1em;

        &.collapsed {
            display: none;
        }

        &.expanded {
            display: block;
        }
    }
}