.loading-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    & .loading-box {
        padding: 20px 30px;
        display: inline-block;

        & .loading-message {
            height: 30px;
            line-height: 30px;
            opacity: 0.55;
            filter: alpha(opacity=55);
            font-size: 15px;
        }
    }
}