.container {
    padding: 5px;

    & .toolbar {
        margin: 5px 0 10px 0;
    }

    & .data-grid {
        width: 600px;
    }

    & .text {
        line-height: 15px;
    }

    & .margin {
        margin-left: 5px;
    }

    & .icon {
        margin-left: 5px;
    }
}
