:local .overlay {
    display: inline-block;
    max-width: 80%;
    padding: .25rem .5rem;
    border: 1px solid #FFCC66;
    border-radius: .2rem;
    background-color: #FFEEBB;
    z-index: 20;
    box-shadow: 0 0 .2rem rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
}