@import '../../libs/root.css';

.wrapper{
    position:relative;
    overflow:hidden;
    width: 470px;
    height: 110px;
    padding:var(--layout-spacing-large) 0;

    & .logo-pic{
        display:inline-block;
        width:300px;
        height:48px;
    }   

    & .version-info{
        display:inline-block;
        width:160px;
        margin-left:var(--layout-spacing-small);
       
        & .version{
            line-height: 16px;
            color:var(--font-color-regular);
        }

        & .release-date{
            margin-top:var(--layout-spacing-small);
            line-height: 16px;
            color:var(--font-color-regular);
        }

        & .version-error{
            text-overflow:ellipsis;
            overflow:hidden;
        }
    }

    & .copyright{
        padding-top: 46px;
        font-size:12px;
        line-height: 16px;
        color:var(--font-color-secondary);
    } 
}

