.check-box,.select-box{
    margin: 20px 0;
}

.shadow-text{
    vertical-align: middle;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.disabled {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.info-header {
    margin: 10px 0;
}

.icon {
    margin-left: 5px;
}

.text {
    line-height: 15px;
}

.hide-text{
    vertical-align: middle;
    line-height: 15px;
    margin-left: 4px;
}

.select {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
}
.footer {
    margin: 10px 0;
}
.button-wrapper {
    margin-left: 10px;
}