:local .container {
    margin-top: 30px;
    & .tool-bar {
        float: left;
        padding-top: 6px;
        font-weight: 600;
        color: #555;

        & .toolbar-icon {
            padding-right: 10px;
            color: #555;
            font-weight: 500;
        }
    }

    & .form-font {
        text-align: left;
    }
    & .btn-test {
        margin-left: 20px;
    }

    & .test {
        padding: 5px;
        vertical-align: middle;
    }

    & .test-success {
        color: #049800;
    }

    & .test-failed {
        color: #e60012;
    }

    & .footer {
        margin-bottom: 20px;
    }
    
}