@import '../../libs/root.css';

:local .container {
    display: inline-block;
    position: relative;

    & .results {
        min-width: 120px;

        & .missing-message {
            position: relative;
            z-index: 1;

            & > .padding {
                position: absolute;
                left: 0;
                right: 0;
                padding: .5em;
                border: 1px solid var(--anyshare-grey-05);
                background: var(--anyshare-grey-04);
            }
        }
    }
}