.nav-tree {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 260px;
    padding-top: 15px;
    border-right: 1px solid #e0e0e0;
    background-color: #f9f9f9;
    z-index: 10;
}

.content {
    position: absolute;
    left: 260px;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}