.wrapper {
    padding: 0 20px;
    height: 494px;

    & .label-width {
        display: inline-block;
        width: 78px;
    }

    & .text-input {
        vertical-align: top;
    }

    & .visitor-searcher {
        display: inline-block;
    }

    & .btn {
        margin-left: 5px;
        width: 80px;
        min-width: 58px;
    }
}
