.options {
    padding: 10px;

    & .option-label {
        margin-left: 5px;
    }
}

.dropbox {
    position: relative;
    display: inline-block;
    
    & .control {
        position: relative;

        & .select {
            position: relative;
            display: block;
            height: 15px;
            text-decoration: none;
            line-height: 15px;
            color: #000;
            outline: none;

            & .text {
                display: block;
                margin-right: 16px;
            }

            & .drop-icon {
                position: absolute;
                top: 0;
                right: 0;
                color: #333;
            }
        }
    }
}