@import '../../../../libs/root.css';
.form {
    display: inline-block;
    box-sizing: border-box;
    & .text-height {
        line-height: 30px;
    }
    & .text-input {
        width: 250px;
        height: 30px;
        border: solid 1px #e0e0e0;
        border-radius: 2px;
        padding: 7px 10px 6px 10px;
        box-sizing: border-box;
        color: var(--font-color-strong);
        &.disabled {
            color: var(--font-color-regular);
            @apply --disabled;
        }
    }
    & .btn {
        margin-left: 15px;
    }
    & .btn-uploader-picker {
        position: relative;
        display: inline-block;
        width: 80px;
        height: var(--input-height);
        line-height: var(--input-height);
        @apply --input-border;
        padding: 0 10px;
        background-color: var(--control-background-color);
        box-shadow: none;
        cursor: pointer;
        box-sizing: border-box;
        text-align: center;
        vertical-align: middle;
        &:hover {
            background-color: var(--anyshare-grey-02);
        }
        &:active {
            background-color: var(--anyshare-grey-03);
        }
        &:focus {
            outline: none;
        }
    }
    & .upload-btn {
        margin-left: 16px;
        width: 80px;
        color: var(--font-color-regular);
    }
}