@import '../../../libs/root.css';

.recycle-container{
    padding: 0 20px;
    color: #505050;

    & .recycle-path-border{
         border-bottom: 0;   
    }

    & .recycle-tools{
        display: table;
        color: #505050;

        & .recycle-buttons{
            height: 35px;
            padding: 5px 0;
            color: #505050;
            float: left;
            line-height: 32px;

            & .check-all{
                display: inline-block;
                margin-right: 10px;
                vertical-align: middle;
                padding-left: 15px;  
            }
            
            & .controll-buttons{
                display: inline-block;
                height: 30px;
                vertical-align: middle;
                line-height: 28px;
                padding-left: 15px;  

                & .action-button{
                    vertical-align: middle;
                    margin-right: 10px;      
                    
                    & .action-icon{
                        display: inline-block;
                        line-height: 28px;
                        margin-right: 7px;
                    }

                    & .button-text{
                        display: inline-block;                    
                    }
                }
            }           
        }

        & .recycle-search{
            display: inline-block;
            position: absolute;
            right: 20px;
            background: #fff;
            z-index: 2;
            line-height: 45px;

            & .recycle-search-foucs{
                border: 1px solid var(--control-border-color__focus);
                box-shadow: var(--control-shadow__focus);
                border-right: 0;
            }
            & .recycle-search-container{
                position: relative;
                display: inline-block;
                height: 30px;
                padding: 0 10px;
                border: 1px solid #bdbdbd;
                border-radius: 3px;
                line-height: 30px;

                & .search-icon{
                    display: inline-block;
                    vertical-align: middle;
                    color: #c8c8c8;
                }

                & .recycle-search-content{
                    position: relative;
                    display: inline-block;
                    padding: 0 0 0 15px;

                    & .recycle-search-filters{
                        display: inline-block;
                        white-space: nowrap;
                        max-width: 270px;
                        overflow: hidden;
                        vertical-align: middle;
                        table-layout: fixed;
                        direction: rtl;

                            & .recycle-search-filter-box{
                                display: inline-block;

                                & .recycle-search-filter-input{
                                    width: 2px;
                                    border:0;
                                    padding-left: 0;
                                    letter-spacing: 0;
                                    outline: none;

                                    &:focus{
                                        outline:0;
                                    }

                                }

                                & .recycle-search-filter-item{
                                    display: inline-block;
                                    height: 23px;
                                    padding: 0 0.5em;
                                    border: 0;
                                    margin: 0 2px;
                                    border-radius: 3px;
                                    line-height: 23px;
                                    background-color: #e8f2f7;
                                    direction: ltr;

                                    & .recycle-search-delete{
                                        vertical-align: top;
                                    }
                                }
                                & .delete-icon{
                                    padding-left: 7px;
                                }
                            }                     
                    }

                    & .recycle-search-input{
                        width: 190px;
                        border: 0;
                        margin: 0;
                        font-size: 14px;                      
                        padding-left: 0;
                        letter-spacing: 0;
                        outline: none;
                        
                        &:focus{
                            outline:0;
                        }
                    }

                    & .empty-icon{
                        color: #9e9e9e;

                        &:hover {
                            cursor: pointer;
                        }                                 
                    }

                    & .blank-icon{
                        display: inline-block;
                        width: 17px;
                        height: 17px;
                    }
                }
            }
            
            & .recycle-search-menu{
                position: relative;
                top: 0;
                left: 0;
                width: 270px;
                border: 1px solid #cfcfcf;
                z-index: 999;
                background-color: white;
                
                & .recycle-search-menuItem{                   
                    height: 35px;
                    line-height: 35px;

                    &:hover{
                        background-color: #e8f2f7;
                    }

                    & .search-menuItem-title{
                        display: inline-block;
                        width: 80px;
                        height: 35px;
                        margin-left: 10px;
                        line-height: 35px;
                        overflow: hidden;

                        &:hover{
                            cursor: default;
                        }
                    }

                    & .search-menuItem-content{
                        display: inline-block;
                        width: 125px;
                        height: 35px;
                        overflow: hidden;
                        line-height: 35px;

                        &:hover{
                            cursor: pointer;
                        }
                    }                   
                }
            }
        }

        & .recycle-sort{
            display: inline-block;
            position: absolute;
            right: 275px;
            z-index: 2;
            line-height: 45px;
            margin-right: 15px;
            

            & .recycle-sort-container{
                display: inline-block;
                height: 30px;
                border: 0px;
                min-width: 0px !important;
                line-height: 30px;

                & .button-box{
                    display: inline-block;
                    padding: 0 10px;
                }

                &:hover{
                    cursor: pointer;
                }

                & .sort-icon{
                    &:hover{
                        cursor: pointer;
                    }
                }
        
            }

            & .recycle-sort-container-high{
                
            }          
        }
    }
    
    & .loading {
        position: fixed;
        top: 43%;
        left: 43%;
        z-index: 999;

        & .loading-box {
            display: inline-block;
            padding: 20px 30px;

            & .loading-message {
                height: 30px;
                font-size: 15px;
                line-height: 30px;
            }
            
        }
    }

    & .clearing {
        position: fixed;
        top: 43%;
        left: 43%;
        z-index: 999;

        & .clearing-box {
            display: inline-block;
            padding: 20px 30px;

            & .clearing-message {
                height: 30px;
                font-size: 15px;
                line-height: 30px;
                padding-top: 10px;
            }
            
        }
    }

    
}

.context-menu-item{
    
    & .action-icon{
        display: inline-block;
        width: 30px;
        line-height: 30px;
        text-align: center;
        color: #757575;
    }
}


.recycle-search-menu{
    width: 259px;
    overflow: hidden;
    
    & .recycle-search-item{
        height: 30px;
        padding: 0px 10px;

        & .search-value{
            display: inline-block;
            width: 127px;
            padding-left: 23px;
            overflow: hidden;
            vertical-align: middle;
        }

        & .search-value-long{
            display: inline-block;
            width: 127px;
            padding-left: 10px;
            overflow: hidden;
            vertical-align: middle;
        }
    }
   
}

.recycle-sort-list{
    width: 100%;

    .recycle-sort-item{

        .action-icon{
            display: inline-block;
            width: 30px;
            line-height: 30px;
            text-align: center;
            color: #757575;
        }

        & .blank-icon{
            display: inline-block;
            width: 30px;
            line-height: 30px;
            text-align: center;
            color: #757575;

        }
    }
    
}

.container{
    border-bottom: 1px solid #eeeeee;
    user-select: none;

    & .crumbs {
        position: relative;
        margin-right: 30px;
        height: 55px;
        line-height: 55px;
        white-space: nowrap;
        overflow: hidden;

        & .crumbs-wrapper {
            display: inline-block;
            position: absolute;

            &.overflow {
                right: 0;
            }
        }

        & .crumb {
            display: inline-block;
            white-space: pre;
            background: #fff;
            color: var(--font-color-regular);

            &.back {
                position: relative;
                z-index: 1;
            }

            & .crumb-link {
                cursor: pointer;
                color: #5a8cb4;

                &:active {
                    color: #376ea0;
                }

                &:hover {
                    color: #78b4d7;
                }
            }

            & .divider {
                margin: 0 5px;
            }
        }
    }
}

.entry-name{
    padding-right: 10px;
}