.no-message-tip {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -44px;

    & .no-message-text {
        color: #868686;
        margin-top: 10px;
        font-size: 14px;
    }
}