@import '../../../libs/root.css';

.container{
    display: flex;
    width: 100vw;
    background: var(--anyshare-grey-02);
    border-top: 1px solid #b7b7b7;

    & .link-button{
        display: block;
        color: #000;
        height: 50px;
        flex-grow: 1;
    }

    & .disabled {
        opacity: 0.3;
    }

    & .enabled {
        color: var(--font-color-blue-mobile);
    }
}