.wrapper {
    padding: 0 20px;

    & .label-width {
        display: inline-block;
        width: 78px;
    }

    & .text-input {
        vertical-align: top;
    }

    & .visitor-searcher {
        display: inline-block;
    }

    & .btn {
        margin-left: 5px;
        width: 80px;
        min-width: 58px;
    }
}

.link {
    margin-top: 10px;

    & .link-chip {
        color:#3c8eff;

        &:hover {
            color: #74aeff;
        }
        &:active{
            color: #006bff;;
        }
    }
}
