.layer{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    overflow: hidden;
    background-image: url('data:image/png;base64,');
}

.pop-container{
    display: inline-block;
    position: fixed;
    z-index: 20;
    left: 100%;
    top: 100%;
}