@import '../../../../libs/root.css';

.wrapper{
    padding-top: 15px;

    & .tips{
        display: inline-block;
        vertical-align: top;
        padding-right: var(--layout-spacing-medium);
        height: var(--layout-spacing-large);
        line-height: var(--layout-spacing-large);  
    }
}
