@import '../../../libs/root.css';

.container{
    position: relative;
    height: 44px;
    border-bottom: 1px solid #f4f4f4;
    user-select: none;
    width: 100%;

    & .checkbox{
        display: inline-block;
    }
}
    
