@import '../../../libs/root.css';
.dialog{
    position: relative;
    padding: 0 10px;
    box-sizing: border-box;

    & .input{
        display: inline-block;
    }

    & .warning{
       color: var(--font-color-critical);
    }

    & .old-name{
        width: 200px;
        line-height: normal;
    }
}