.container{
    
    & .search-box {
        float: right;
    }

    & .text{
        margin: 10px 0;
        color: #999;
    }

    & .grid{
        margin-top: 10px;
        & .row:hover{
            background: #efefef;
        }
    }
}