.share-center-list {
  padding-bottom: 5px;

  & .enabled {
    color: #06c;
    padding-right: 5px;
  }

  & .disabled {
    padding-right: 5px;
  }

  & .share-center-title {
    display: inline-block;
  }

  & .share-center-book-title{  
    display: inline-block;
    vertical-align: top;
    padding-top: 6px;
  }

  & .share-center-item {
    position: relative;
    left: 10px;
    top: 6px;
    display: inline-block;
    line-height: 20px;
    width: 670px;

    &:hover {
      cursor: pointer;
    }

    & .share-center-span{
      float: left;

    }
  }
}
