:local .container{
    & .block {
        margin: 10px 0;
    }

    & .scan {
        text-align: center;
    }

    & .buttonWrapper {
        display: inline-block;
        margin-left: 5px;
    }

    & .docname {
        margin-left: 10px;
    }

    & .fullLink {
        & .fullLinkText {
            display: inline-block;
            vertical-align: middle;

            & .fullLinkInput {
                width: 390px;
                height: 28px;
                line-height: 28px;
                padding: 0 10px;
                border: 1px solid #d0d0d0;
                border-radius: 3px 0 0 3px;
                border-right: none;
                vertical-align: bottom;
            }
        }
    }

    & .fullimage {
        padding: '30px 0';
        text-align: center;
        background-color: '#fff';
    }

    & .link {
        color: #0066CC;
        display: block;
        margin: 20px 0;
    }

    & .button-layout {
        position: relative;
        height: 30px;
    }

    & .button-wrapper {
        float: right;
        margin-left: 5px;
    }

    & .selectFormat {
        position: relative;
        top: 10px;
        z-index: 2;
        padding: 0 0 10px 6px;
    }

    & .size {
        width: 40px;
    }

    & .link:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    & .sendMailIcon {
        text-align: center;
    }

    & .invisible {
        visibility: hidden;
    }

    & .config {
        padding: 5px;
        border: 1px solid #d0d0d0;

        & .permOption {
            display: inline-block;
            margin-right: 10px;
        }
    }
    
    & .linkInfo{
        padding: 20px 10px;
        border-radius: 3px;
        background-color: #efefef;
    }

    & .spliter {
        border-top: 1px solid #d0d0d0;
        margin: 10px 0;
    }

    & .shareOptions {
        padding: 10px;
        background-color: #efefef;
    }

    & .body {
        padding: 10px;
    }

    & .hideDialog {
        visibility: hidden;
    }
    
    & .apvDialog {
        color:#4d759e;
        margin-top:20px;
        display:block;
        cursor: pointer;
    }
    
    
}