 @import '../../libs/root.css';

.favorites{
    position:absolute;
    top:0;
    left: var(--layout-spacing-medium);
    bottom: 0;
    right: var(--layout-spacing-medium);

    & .search-field {
        height: 54px;
        border-bottom: 1px solid #f4f4f4;

        & .search-box {
            float: right;
            margin-top: 12px;
        }
    }

    & .loading-text{
        padding-top: var(--layout-spacing-medium);
        color: var(--font-color-secondary);
    }
}

