 @import '../../libs/root.css';

.datalist-wrapper{
    width: 1094px;

    & .loading{
        margin: 280px 0;

        & .loading-text{
            padding-top: var(--layout-spacing-medium);
            color: var(--font-color-secondary);
        }
    }
}



   