@import '../../../../libs/root.css';


 .contain{
    height: 100%;

    & .form{
        font-size:14px;
        margin-left: 20px;
        color: var(--font-color-regular);

        & .item-title{
            margin-top: 20px;
            display: block;

            & .item-message {
                display: inline-block;
            }

            & .item-button {
                display: inline-block;
                margin-left: 15px;
            }
        }

        & .item{
            margin-top: 20px;
        }
    }

    & .warn {
        height: 240px;
        color: var(--font-color-regular);

        & .icon-warn {
            color: #ccc;
            padding-bottom: var(--layout-spacing-small);
        }

        & .set-node {
            color: #5a8cb4;

            &:hover {
                color: #78b4d7;
            }

            &:active {
                color: #376ea0;
            }
        }
    }

    & .split-line {
        background: #ccc; 
        width: 1px; 
        height: 180px; 
        margin-top: 10px;
    }
}