.container{
    & div.nav {
        background: #FFF;
        text-align: center;
        border-bottom: 1px solid #eeeeee;
        & div {
            margin: 0 40px;
        }
    }

    & .loading {
        z-index: 20;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -67px;
        margin-left: -145px;
        width: 290px;
        
        & .loading-box {
            padding: 20px 30px;
            display: inline-block;

            & .loading-message {
                height: 30px;
                line-height: 30px;
                font-size: 15px;
            }
        }
    }
}
