:local .markdown  {
    & p  {
        margin:1em 0;
        line-height:1.5em;
    }

    & table  {
        margin:1em;
        font:100%;
        font-size:inherit;
    }

    & table th  {
        padding:.2em 1em;
        border-bottom:1px solid #bbb;
        
    }

    & table td  {
        padding:.2em 1em;
        border-bottom:1px solid #ddd;
        
    }

    & input[type=text],input[type=password],input[type=image],textarea {
        font:99% helvetica,arial,freesans,sans-serif;
        
    }

    & select, option  {
        padding:0 .25em;
        
    }

    & optgroup  {
        margin-top:.5em;
        
    }

    & pre, code  {
        font:12px Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",monospace;
        
    }

    & pre  {
        overflow:auto;
        margin:1em 0;
        padding:5px;
        border:1px solid #ddd;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        border-radius:3px;
        background-color:#eee;
        -webkit-box-shadow:rgba(0,0,0,0.07) 0 1px 2px inset;
        color:#444;
        font-size:12px;
        line-height:1.5em;
        
    }

    & pre code  {
        padding:0;
        border:none;
        background-color:#eee;
        font-size:12px;
        
    }

    & code  {
        padding:0 .2em;
        border:1px solid #dedede;
        background-color:#f8f8ff;
        color:#444;
        font-size:12px;
        
    }

    & img {
        max-width:100%;
        border:0;
        
    }

    & abbr {
        border-bottom:none;
        
    }

    & a {
        color:#4183c4;
        text-decoration:none;
        
    }

    & a:hover {
        text-decoration:underline;
        
    }

    & a code,
    & a:link code,
    & a:visited code {
        color:#4183c4;
    
    }

    & h2,
    & h3 {
        margin:1em 0;
        
    }

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
        border:0;
        
    }

    & h1 {
        margin-top:1.5em;
        padding-top:.5em;
        border-top:4px solid #aaa;
        font-size:170%;
        
    }

    & h1:first-child {
        margin-top:0;
        padding-top:.25em;
        border-top:none;
        
    }

    & h2 {
        margin-top:1.5em;
        padding-bottom:.5em;
        border-bottom:1px solid #ddd;
        font-size:150%;
        
    }

    & h3 {
        margin-top:1em;
        
    }
    
    & hr {
        overflow:hidden;
        margin:15px 0;
        height:0;
        border:0;
        border-bottom:4px solid #ddd;
        background:transparent;
        
    }

    & ul {
        margin:1em 0 1em 2em;
    }

    & ol {
        margin:1em 0 1em 2em;
        
    }

    & ul li, 
    & ol li {
        margin-top:.5em;
        margin-bottom:.5em;
        
    }

    & ul ul, 
    & ul ol, 
    & ol ol, 
    & ol ul {
        margin-top:0;
        margin-bottom:0;
        
    }

    & blockquote {
        margin:1em 0;
        padding-left:.6em;
        border-left:5px solid #ddd;
        color:#555;
    }

    & dt {
        margin-left:1em;
        font-weight:bold;
    }

    & dd {
        margin-bottom:1em;
        margin-left:2em;
    }
}