@import '../../../libs/root.css';

.hover-action {
    & .action-icon  {
        visibility: visible;
        opacity: 1;
    }
}

.docname-item {
    position: relative;

    & .icon-wrap {
        display: inline-block;
        position: relative; 
        width: 1px;
        left: -10px;
        vertical-align: top;
    }

    & .enable-open {

        &:hover {
            cursor: pointer;
        }
    }

    & .doc-name {
        display: inline-block;
        height: 32px;
        line-height: 32px;
        margin-left: var(--layout-spacing-small);        
    }

    & .active-doc {
        &:hover {
            color: #5a8cb4;
            cursor: pointer;
        }

        &:active{
            color: #376ea0;
        }
    }
}

.action-icon {
    position: absolute;
    top:5px;
    right: var(--layout-spacing-small);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
}

.actived {
    visibility: visible;
    opacity: 1;
}

.csflevel-item {
    display: inline-block;
    width: 7%;
}

.approval-passed {
    color: #009e0f;
}

.approval-rejected {
    color: #d70000;
}

.cancel-text {
    color: #d70000;
}

.empty-message {
    margin-top: 15px;
    font-size: var(--font-size-subtitle);
    color: var(--font-color-secondary);
}

.text-content {
    line-height: 1.2;
    color: var(--font-color-secondary);
}

.loading {
    padding-top: var(--layout-spacing-medium);
    color: var(--font-color-secondary);
}