:local .formatter{
    &:hover {
        & .text {
            text-decoration: underline;
        }
    }

    & .text {
        padding-left: 10px;
        vertical-align: middle;
        &:hover{
            cursor: pointer;
        }

        & .title {
            line-height: normal;
        }
    }

    & .enabled {
        opacity: 1;
        filter: alpha(opacity=100);
    }

    & .disabled {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

}


