@import '../../../libs/root.css';

.container {
    display: inline-block;
    vertical-align: top;

    & .label-area {
        white-space: nowrap;
    }

    & .progress-bar {
        width: 496px;
    }

    & .warning-text {
        margin-left: 2px;
        color: var(--font-color-critical);
        white-space: nowrap;
    }
}