:local .container{
    & .fl{
        float: left;
    }
    & .fr{
        float: right;
    }
    & .tip{
        color: #999;
    }
    & .net-container,
    & .doclib-container{
        width: 50%;
    }
    & .net-wrapper{
        margin-right: 10px;
    }
    & .doclib-wrapper{
        margin-left: 10px;
    }
    & .info-header{
        margin: 20px 0 10px;
    }
    & .disabled{
        opacity: 0.3;
    }
    & .ip-input{
        position: relative;
        z-index: 1;
    }
    & .ip-input,
    & .subnetmask-input{
        position: relative;
    }
    & .ip-input{
        z-index: 1;
    }
    & .data-grid{
        border: 1px solid #e5e5e5;
    }
}