@import '../../../libs/root.css';

.container{
    height: 100%;
  
    & .list-name{
        position: relative;
       
        & .picture-field{
            cursor: pointer;
            display: inline-block;
        }

        & .name-field{
            display: inline-block;
            height: 32px;
            line-height: 32px;
            margin-left: var(--layout-spacing-small);
            white-space: nowrap;

            & .name{
                display: inline;
                cursor: pointer;
                color: var(--font-color-strong);

                &:hover {
                    color: var(--font-color-link__hover);
                }

                &:active {
                    color: var(--font-color-link__active);
                }
            }
        }

        & .operate{
            position: absolute;
            top:5px;
            right: var(--layout-spacing-small);
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.3s;

            &.actived {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    & .details-wrapper{
        width:55px;

        & .details{
            cursor: pointer;
            color: var(--font-color-link);

            &:hover{
                color:var(--font-color-link__hover);
            }   

            &:active{
                color: var(--font-color-link__active);
            }
        }
    }

    & .uiicon{
        padding-left: var(--layout-spacing-small);
        cursor: pointer;
    }

    & .item-wrapper{
        height: 16px;
        line-height: 16px;
        color: var(--font-color-secondary);
    }

    & .hover-action {
        & .operate {
            visibility: visible;
            opacity: 1;
        }
    }
}

.loading-text{
    padding-top: var(--layout-spacing-medium);
    color: var(--font-color-secondary);
}


