.audio {
    position: relative;
    display: inline-block;
}

.video {
    position: relative;
    display: inline-block;

    &:hover .sidebar {
        display: block;
        &.hide{
            display: none;
        }
    }
}


.sidebar {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    bottom:36px;
    z-index: 1;
    vertical-align: middle;

    & .sidebarPadding {
        display: table;
        height: 100%;

        & .sidebarFlexbox {
            display: table-cell;
            vertical-align: middle;

            & .sidebarTools {
                display: inline-block;
                border-radius: 3px 0 0 3px;
                background: #333;

                & .sidebarButton {
                    display: block;
                    padding: 20px 30px;
                    color: #9a9a9a;
                    text-decoration: none;
                    cursor: pointer;

                    &:hover {
                        color: #ffbf46;
                    }

                    &.activeDefinition {
                        color: #ffbf46;
                    }
                }
            }
        }
    }
}

.message {
    color: #fff;

    & .paragraph {
        line-height: 1.5;
    }

    & .link {
        color: #ffbf46;
    }
}