@import '../../libs/root.css';
.container {
    height: 100%;
    padding-left: 15px;
    .info-header {
        .header-font {
            color: #505050;
            margin-right: 5px;
        }
        .header-switchButton {
            display: inline-block;
            vertical-align: middle;
            margin-left: -6px;
        }
        .header-button {
            display: inline-block;
            vertical-align: middle;
            margin-left: 20px;
        }
    }
    .status-online {
        color: green;
    }
    .status-offline {
        color: var(--font-color-critical);
    }
    .list-content-text {
        padding-left: 10px;
        vertical-align: middle;
    }
    .edit {
        display: inline-block;
        margin: 0 5px;
    }
    .remove {
        display: inline-block;
        margin: 0 5px;
    }
    & .table-row-sitename {
        white-space: pre;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    & .table-row-sitekey {
        user-select: text;
    }
    & .stack-bar {
        height: 25px;
        background: #fff;
        margin-bottom: 3px;
        vertical-align: middle;
        & .quota-detail {
            position: absolute;
            top: 50%;
            right: 10px;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
}