@import '../../../libs/root.css';

.storage-strategy{
    
    & .storage-strategy-container{
        position: relative;
        height: 100px;
        

        & .storage-strategy-body{
            margin-bottom: 30px;
            margin-top: 10px;

            & .attr-title{
                color: #868686;
                margin-right: 15px;
            }

            & .storage-strategy-selectmenu{
            }
        }

        & .storage-strategy-foot{
            line-height: 20px;
        }
    }

   
}

.font-bold{
    height: 50px;
    font-weight: bold;
    vertical-align: middle;
    float: left;
    margin-right: 10px;
}
