.comboarea {
    position: relative;
    min-height: 35px;
    overflow: auto;

    & .chip-wrap {
        display: inline-block;
        -webkit-user-select:text;
        margin: 1px;
        vertical-align: middle;
        white-space: nowrap;
    }

    & .box-sizing-border-box {
        box-sizing: border-box;
    }
}