.contain {

    & .head-bar {
        position: relative;
        height: 30px;
        padding: 3px 10px;
        border: 1px solid #ccc;
        border-radius: 2px;
        margin-bottom: 10px;
        font-size: 13px;
        color: #555;
        vertical-align: middle;

        & .time-select {
            display: inline-block;

            & .time-label {
                padding: 0 10px;
            }
        }

        & .bar-icon {
            display: inline-block;
            padding: 0 10px 0 0;
        }

        & .export-btn {
            position: absolute;
            right: 10px;
            display: inline-block;

            & .button{
                border: 0;

                &:hover{
                    border: 1px solid #ccc;
                }

                &:active{
                    border: 1px solid #ccc;
                }

                &:disable:hover{
                    border: 0;
                }

                &:disable:active{
                    border: 0;
                    background: 
                }
            }
        }
    }

    & .active-tip {
        color: #505050;
        padding: 10px 0;

        & .active-lab{
            display: inline-block;
            padding: 0 10px;
        }
    }

    & .chart {
        padding:10px 0;
    }

    & .warn-activity {
         display: table;
         text-align: center;
         width: 100%;
         color: #505050;
         height:450px;

         & .warn-table{
            display:table-cell;
            vertical-align: middle;
            width:100%;

            & .warn-tip{
                padding: 10px;
                font-size: 16px;
            }
         }
    }
}