.cell{
    vertical-align: middle;
    padding: 5px;
}

.title{
    padding: 10px 5px;
}

.server-attachable{
    color: #0c0;
}

.server-unattachable{
    color: #f00;
}

.button-wrapper{
    margin: 10px 0;
    & .button{
        margin-left: 20px;
    }
}