.container {
    min-height: 100vh;
    background: #fff;
    width: 100vw;
    overflow-y: hidden;

    & .header {
        position: fixed;
        width: 100vw;
        top: 0;
        background: #fff;
        overflow-y: hidden;
    }

    & .layer-group {
        position: fixed;
        top: 51px;
        bottom: 50px;
        width: 100vw;
        box-sizing: border-box;
    }

    & .bottom-tool {
        position: fixed;
        width: 100vw;
        bottom: 0;
        background: #eee;
    }

    & .header-left-area {
        position: absolute;
        left: 0;
        top: 0;

        & .header-left-button {
            display: inline-block;
            width: 1.6rem;
            height: 100%;
            line-height: 1.6rem;
            text-align: center;
        }
    }

    & .header-text {
        margin: 0 3rem;
        text-align: center;
        overflow: hidden;
        white-space: pre;
        text-overflow: ellipsis;
    }
}

.item {
    position: relative; 

    & .icon {
        display: inline-block;
        position: absolute;
        line-height: 50px;
        color: #aaa;
    }

    & .text {
        padding-left: 30px;
    }
}
