@import '../../../libs/root.css';

.menu-icon{
    display: inline-block;
    width: var(--layout-spacing-large);
    line-height: var(--layout-spacing-large);
    text-align: center;
    color:var(--font-color-list);
}