:local .container {
    display: block;

    & .input-user {
        position: relative;
        text-align: center;
        max-width:420px;
        margin: 0 0 20px 0;
        padding: 4px 10px 4px 60px;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        background: #fff;
        
       & .input-login {
            width: 100%;
            border: 0;
            height: 30px;
            line-height: 30px;
            padding:0;
            font-size: 13px;
            background: #fff;

            &:focus {
                outline: none;
            }
        }

        & .input-icon {
            position: absolute;
            width: 50px;
            left: 10px;
            top: 10px;
            color: #757575;

            & .input-line {
                width: 1px;
                margin: 0 10px;
                background: #d5d5d5;
                display: inline-block;
                vertical-align: middle;
                height: 24px;
            }

            & .icon-middle {
                vertical-align: middle;
            }
        }
    }

    & .input-focus {
        border-color: #fb8c00;
        box-shadow: 0 0 1px #fb8c00;
        background: #fff;
    }

    & .input-btn {
        width: 100%;
        height: 40px;
        color: #fff;
        border-radius: 3px;
        margin-top: 10px;
        font-size: 14px;
        border: 1px solid transparent;
                
        &:hover {
            border-radius: 3px;
        }
        
        &:active {
            border-radius: 3px;
        }
    }
    & .error-size {

        height: 30px;

         & .input-error {
            color: #d70000;
            display: block;
            text-align: left;
        }
    }

    & .default-background {
         background: #AC000E;
    }

    & .login-submit {
        padding: 10px 0;
    }

}