.container{
    text-align: center;
    & .toolbar{
        display: inline-block;
        padding: 5px 15px;
        height:30px;
        background-color: rgba(0,0,0,0.8);
        border-radius:2px;
    }
    & .tool-icon{
        display: inline-block;
        width:30px;
        height:30px;
        line-height: 30px;
        text-align: center;
        vertical-align: middle;
        margin-right:10px;
        font-size: 16px;
        color: #bdbdbd;
        border-radius:2px;
        &.enable:hover{
            background-color: rgba(255,255,255,0.2);
            color:#fff;
        }
        &.enable:active{
            background-color: rgba(255,255,255,0.1);
            color:#bdbdbd;
        }
    }
    & .dragbar{
        vertical-align: middle;
        display: inline-block;
        margin-right: 10px;
    }
    & .number-box{
        margin-right:10px;
        vertical-align: middle;
    }
}
.title{
    background-color: rgba(0, 0, 0, .8);
    box-shadow: none;
    border:none;
    color:#fff;
}