:local .container{
    width: 100%;

    & .dep-label{
        width: 80px;
        height: 32px;
        line-height: 32px;
    }
    & .dep-box{
        width: 400px;
    }
    & .dep-btn {
        width: 80px;
    }
}