.container{
    & .label {
        position: relative;
        padding: 0 18px 0 36px;
        height: 32px;
        line-height: 32px;
        vertical-align: middle;
        background: #f6f7fc;
        font-size: 15px;
        color: #868686;
        user-select: none;
        cursor: default;

        &:active{
            background: #eeebfe;
        }
        &:hover{
            background: #f1effd;
        }
        & .fold-icon{
            position: absolute;
            left: 10px;
            line-height: 32px;
        }
    }
}