:local .node {
    white-space: nowrap;

    & .detail {
        margin: 5px 0;

        & .toggler {
            margin-right: .25em;
            vertical-align: middle;

            &.leaf {
                visibility: hidden;
            }
        }

        & .name {
            display: inline-block;
            margin-left: 0.5em;
            vertical-align: middle;
        }

        &.selected > .name {
            background-color: #e8e8e8;
        }
    }
    
    & .branch {
        margin-left: 1em;

        &.collapsed {
            display: none;
        }

        &.expanded {
            display: block;
        }
    }

    & .disabled{
        color: #ccc;
    }
}