.organization-panel {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;

    & .search-box {
        margin: 10px 0;
    }

    & .organization-tree {
        height: 300px;
        overflow: auto;
    }
}

.selected-group {
    margin: 10px 0;
}

.group-selected {
    display: inline-block;
    max-width:240px;
    height: 24px;
    line-height: 24px;
    margin: 0 10px;
    padding: 0 10px;
    vertical-align: middle;
    background: #ccc;
    border-radius: 5px;
}

.dep-item {
    position: relative;
    height: 30px;
    line-height: 30px;

    & .seleted-data {
        float: left;
        margin-right: 30px;

        & .dep-name {
            padding-left: 10px;
        }
    }

    & .selected-data-del {
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        text-align: center;
    }
}

.rate-config {
    height: 160px;
    width: 410px;
    padding: 0 5px;
}

.limit-object {
    display: inline-block;
    max-width: 240px;
    margin: 10px 0;
    vertical-align: middle;
}

.limit-text {
    display: inline-block;
    vertical-align: middle;
}

.limit-item {
    margin: 10px 0;

    & .rate-input {
        width: 80px;
        margin: 0 10px;
    }
}

.warning {
    display: inline-block;
    color: #ec0000;
}