@import '../../../libs/root.css';

.strategy{
    height: 60px;
    
    & .strategy-box{
        display: table;
        margin-bottom: 10px;

        & .attr-title{
            display: table-cell;
            vertical-align: middle;
            padding-right: 10px;
            
        }

        & .strategy-selectmenu{
            display: table-cell;
            width: 100px;
        }
    }

    & .strategy-tip{
        color: var(--font-color-critical);
    }
}