:local .container {
    user-select: none;
    margin-bottom: 30px;
    & .header {
        height: 28px;
        line-height: 28px;
        padding: 3px 10px;
        border: 1px solid #CCCCCC;
        border-radius: 2px;
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 13px;
        color: #555;
        background-color: #fdfcfc;
        & .header-label {
            margin-left: 6px;
        }
    }
    & .main {
        padding-left: 10px;
        & .filed {
            & .item {
                padding: 6px 3px;
                display: inline-block;
                vertical-align: top;
                & .title {
                    margin-left: 4px;
                }
                & .tip {
                    margin-left: 4px;
                    color: #aeaeae;
                }
                & .required {
                    display: inline-block;
                    padding: 5px 0 0 5px;
                    color: #ed1c24;
                }
            }
            & .autoPopUserAgreement {
                margin-left: 70px;
            }
        }
    }
    & .footer {
        margin: 10px;
        & .button-wrapper {
            margin-left: 5px;
        }
    }
}