.container {
    margin-top: 10px;
    & .summary {
        padding: 0px 16px;
        height: 20px;
        line-height: 20px;
        vertical-align: middle;
        & .link {
            float: right;
            font-size: 12px;
            color: #0066CC;
            text-decoration: none;
            &:hover {
                color: #78b4d7;
            }
            &:active {
                color: #376ea0;
            }
        }
    }
}

.item {
    display: inline-block;
    & .icon {
        vertical-align: middle;
    }
    & .text {
        width: 150px;
        display: inline-block;
        margin-left: 10px;
        color: #434343;
        font-size: 12px;
        vertical-align: middle;
    }
}