.edit-tag-dialog {
    & .text {
        margin-bottom: 12px;
    }

    & .docname {
        width: 290px;
        line-height: normal;
    }

    & .btn {
        margin-left: 10px;
        vertical-align: top;
        min-width: 58px;
    }

    & .item {
        line-height: normal;

        &:hover {
            cursor: pointer;
        }
    }

    & .error-desktop {
        color: #ac000e;
        max-width: 364px;
        height: 22px;
    }

    & .error-field {
        height: 18px;

        & .error-client {
            color: #ac000e;
            max-width: 364px;
        }
    }

    & .tags {
        width: 364px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-bottom: 4px;

        & .chip {
            display: inline-block;
            margin: 5px 1px 1px 1px;
            height: 30px;
            white-space: nowrap;
        }
    }

    & .client-area {
        height: 144px;
        margin-bottom: 18px;
    }

    & .desktop-area {
        height: 108px;
    }

    & .border {
        border: solid 1px #ddd;
    }
}