@import '../../../libs/root.css';

.storage-replace{
    padding: 50px;

    & .storage-replace-outer{

        & .loading{
            padding-top: 60px;
        }

        & .storage-replace-container{
            overflow: hidden;

            

            & .storage-replace-content{
                width: 99%;

                & .storage-replace-title{

                    & .storage-title-label{
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 10px;
                    }

                }

                & .storage-replace-body{
                    display: block;
                    margin: 10px 0;

                    & .attr-title{
                        display: inline-block;
                        margin-right: 10px;
                    }

                }

                
            }

            & .storage-replace-foot{
                display: inline-block;

                & .foot-content{
                    vertical-align: middle;
                }
            }
            
        }
    }
    
    

    & .font-bold{
        font-weight: bold;
        line-height: 50px;
    }
}


.font-bold{
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
}

.font-color-red{
    display: inline-block;
    color: var(--anyshare-red-05);
    vertical-align: middle;
}

.font-color-green{
    display: inline-block;
    color: var(--anyshare-green01);
    vertical-align: middle;

}