@import '../../../libs/root.css';

.simple-info {
    width: 100%;
    height: 85%;
}

.thumbnail-area {
    cursor: pointer;
}

.name-text {
    font-size: 15px;
    max-width: 400px;
    padding: 0 20px;
    line-height: 1.5;
    color: var(--font-color-strong);
    font-size: 14px;
    cursor: pointer;
    word-break: break-all;
    margin-top: 10px;
}

.description-area {
    margin-top: 4px;
    font-size: 13px;
    color: var(--font-color-secondary);
}

.line-area {
    line-height: 1.5;

    & .button {
        border: 1px solid #D0D0D0;
        height: 45px;
        line-height: 45px;
    }

    & .one-button {
        width: 300px;
    }

    & .two-button {
        width: 140px;
    }

    & .download-btn {
        margin: 0 10px;
    }

    & .distance {
        margin-right: 20px;
    }

    & .file-icon {
        margin-right: 4px;
    }
}

.btn-area {
    margin-top: 20px;
}