@import '../../libs/root.css';

:local {
    & .validate-box {
        &[disabled] {
            @apply --disabled;
        }

        position: relative;
        display: inline-block;
        width: 118px;
        // padding: 7px 5px 6px 5px;
        @apply --input-border;

        & .status {
            position: absolute;
            top: 0;
            right: 0;
            margin: 6px 5px 0 0;
        }

        & .validate-fail {
            background-color: #ffffee;
        }

        & .validate-message {
            display: inline-block;
            margin: 3px 0 0 3px;
        }

        &:hover {
            & .locator {
                display: inline-block;
            }
        }
        .tip-wrap{
            position: absolute;

            & .warning-icon {
                position: relative;
                left: -25px;
            }
        }
        .right{
            // left:100%;
            // top: 5px;
            // margin-left: 5px;
            left: 100%;
            top: 50%;
            margin-left: 5px;
            margin-top: -8px;
        }
        .top{
            left:0;
            margin-left:-16px;
            top:-30px;
        }
    }
    
    & .locator {
        display: inline-block;
        margin-top: -4px;
    }
}