.container{
    width:100%;
    text-align: center;
    line-height: 100px;
    font-size: 16px;
    height: 100%;
    position: fixed;
    background: url('./assets/bg.png') center no-repeat;
    background-size:80% auto;
}