.container{
  & .doc-type {
    margin-bottom: 10px; 
    }
  & .doc-zone {
    margin: 0 0 10px 20px; 
    }
  & .btn-wrapper {
      display: inline-block;
      box-sizing: border-box;
      margin-right: 10px;
      }
} 