:local .container {

    & .text {
        margin: 20px 0 20px 5px;
        color: #999;
    }
    & .search-box {
        float: right;
    }

    & .disabled{
        opacity: 0.3;

        & .on-fetch{
            opacity: 0.3;
        }
    }

    & .delete {
        margin: auto 10px;

        &:hover {
            cursor: pointer;
        }
    }
}