.container{
    overflow: hidden;
    position: relative;
    &:hover .scroll-y,&:hover .scroll-x{
        visibility: visible;
    }
}
.content{
    position: absolute;
    min-width:100%;
    min-height:100%;
    background: #262626;
}
.grabbing{
    cursor: move !important;
    cursor: -webkit-grab !important;
    cursor: -moz-grab !important;
    cursor: grab !important;
}
.scroll-y{
    position: absolute;
    visibility: hidden;
    top:0px;
    right:1px;
}
.scroll-x{
    position: absolute;
    visibility: hidden;
    bottom:1px;
    left: 0;
}