:local .container {
    & .summary {
        padding: 10px 16px 0px;
    }
    & .right {
        float: right;
        & .cell {
            width: 24px;
            height: 24px;
            cursor: pointer;
            user-select: none;
            text-align: center;
            vertical-align: middle;
            border: 1px solid transparent;
            border-radius: 2px;
            position: relative;
            display: inline-block;
            cursor: pointer;
            &:hover {
                background: #fff;
                border-color: #d1d1d1;
            }
            &:active {
                background: #e4e4e4;
                border-color: #e0e0e0;
            }
        }
        & .inner {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 5px 0;
            & .ui-icon {
                cursor: pointer;
            }
            &.disabled {
                @apply --disabled;
                cursor: default;
            }
        }
    }
}

:local .item {
    display: inline-block;
    margin-top: 5px;
    height: 20px;
    line-height: 20px;
    & .icon-wrap {
        position: absolute;
        & .icon {
            vertical-align: middle;
            color: #757575;
        }
    }
    & .text-wrap {
        width: 200px;
        & .text {
            margin-left: 27px;
            color: #757575;
            font-size: 13px;
        }
    }
}