:local .container{
    width: 600px;
    & .organization-tree {
        width: 200px;
        height: 380px;
        border: 1px solid #ccc;
        margin: 10px;
        overflow: auto;
        text-align: left;
    }
    & .search-box {
        margin: 10px;
    }
    & .button-layout {
        position: relative;
        height: 30px;

        & .button-wrapper {
            float: right;
            margin-left: 5px;
        }
    }
    & .dep-item {
        height: 30px;
        line-height: 30px;
    }
    & .dep-name {
        padding-left: 10px;
    }
    & .dep-del {
        padding-right: 10px;
        cursor: pointer;
    }

    & .seleted-data {
        margin-right: 30px;
    }
    & .selected-data-del {
        width: 30px;
        position: absolute;
        right: 0;
        top: 0;
        text-align: center;
    }
}