:local .container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 40px;
    left: 0;
    overflow: auto;
    & .pdf {
        margin: 0 auto;
    }
    & .content {
        padding: 0 10px;
    }
}

:local .hide{
    display: none;
}