:local .option {
    height: 1rem;
    line-height: 1rem;
    padding: 0 .2rem;
    cursor: pointer;

    &:hover {
        cursor: pointer;
        background-color: #e0e0e0;
    }

    &.selected {
        background-color: #d0d0d0;
    }
}