.entry-container{

    & .entry-head{
        position: relative;
        background: #f6f7fc;
        line-height: 30px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid #f6f7fc;
        cursor: default;

        &:hover{
            border-top: 1px solid #f6f7fc;
            border-bottom: 1px solid #f6f7fc;
        }

        & .entry-head-item{
            position: relative;
            padding-left: 35px;
       
            &:hover{
                background: #f6f7fc;
            }

            & .entry-head-name{
                display: inline-block;
                width: 50%;   
            }

            & .entry-head-size{
                display: inline-block;
                width: 8%;
   
            }

            & .entry-head-type{
                display: inline-block;
       
            }

            & .entry-head-name-scroll{
                display: inline-block;
                width: 49.4%;   
            }

            & .entry-head-size-scroll{
                display: inline-block;
                width: 7.8%;
   
            }
        }
    } 

    & .entry-box{
        position: absolute;
        top: 130px;
        right: 20px;
        bottom: 0;
        left: 0;
        overflow-y: auto;
        padding-left: 20px;
        

    
        & .entry-item{
            line-height: 52px;
            
            & .entry-content{
                height: 52px;
                line-height: 52px;
                padding-left: 15px;

                & .entry-content-name{
                    display: inline-block;
                    width: 50%;
                    

                    & .entry-content-text{
                        display: inline-block;
                        height: 100%;
                        padding-left: 15px;
                        line-height: 14px;

                        &:hover{
                            cursor: pointer;
                            color: #5a8cb4;
                        }

                        &:active {
                            color: #376ea0;
                        }
                    }

                    & .icon-groups{
                        float: right;
                        margin-right: 15px;
                        line-height: 14px;
                        margin-top: 15px;
                        
                        & .action-icon{
                            visibility: hidden;
                            opacity: 0;
                            transition: opacity 0.3s;
                            &.actived {
                                visibility: visible;
                                opacity: 1;
                            }
                            
                        }  
    
                    } 

                }

                &:hover .icon-groups .action-icon{
                    visibility: visible;
                    opacity: 1;
                } 

            
                & .entry-content-size{
                    display: inline-block;
                    width: 8%;
                
                }

                & .entry-content-type{
                    display: inline-block;
                
                }
            }
        } 

    }

    & .clearing-box {
        display: inline-block;
        padding: 20px 30px;

        & .clearing-message {
            height: 30px;
            font-size: 14px;
            line-height: 30px;
            padding-top: 10px;
            color:#868686;
            padding-left: 10px;
        }
        
    }
}

    
