:local .group-join {
    width: 9rem;
    display: inline-block;

    & .group-info-icon {
        padding-bottom: 0.5rem;
    }

    & .group-info {
        padding-bottom: 0.3rem;
        margin: 0 auto;
        font-size: 0.5rem;


        & .docname {
            font-size: 0.7rem;
            color: #bb0000;
            word-break:break-all;
        }

        & .perm{
            word-break:break-all;
        }
    }

    & .group-info-button {
        margin: 0 auto;
        width:80%;
        padding-top: 0.7rem;
    }

    & .header {
        font-size: 0.7rem;
        text-align: center;
    }
    
    & .group-info-button {
        margin: 0 auto;
    }

    & .submit-btn{
        margin-top: 0.1rem;    
        height: 1.5rem;
        line-height: 1.5rem;
    }

    & .description {
        word-wrap: break-word;
        word-break: break-all;
        text-align: left;
        padding-top:1rem;
    }

    & .error-tip {
        padding-top: 1rem;
        font-size: 0.7rem;
    }
}
