.container {
    padding: 10px 0 10px 3px;

    & .visible {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    & .non-visible {
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
    & .table {
        border-collapse: separate;
        border-spacing: 0px 0px;
        width: 100%;
        table-layout: fixed;
    }
    & .tr {
        width: 100%;
        font-size: 13px;
        & .td1 {
            line-height: 30px;
            width: 80px;
        }
        & .td2 {
            position: relative;
            vertical-align: middle;
            line-height: 1.5;
            & .csf-btn {
                position: absolute;
                right: 0;
            }
        }
    }
    & .csfedit-container {
        & .button-layout {
            position: relative;
            height: 30px;
        }
        & .button-wrapper {
            float: right;
            margin-left: 5px;
        }
        & .content {
            margin-bottom: 10px;
            width: 364px;
            line-height: 18px;
        }
        & .hide-option {
            display: none
        }
    }
    & .noper-container {
        & .button-layout {
            position: relative;
            height: 30px;
        }
        & .button-wrapper {
            float: right;
            margin-left: 5px;
        }
        & .content {
            margin-left: 30px;
            width: 300px;
            line-height: 18px;
        }
    }
    & .details {
        margin: 20px auto;
    }
    & .detail-title {
        display: inline-block;
        width: 70px;
        margin: auto 5px;
    }
    & .detail-content {
        display: inline-block;
        position: relative;
        top: 2px;
        width: 280px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
    }
}

.fold-container {
    padding: 0 10px 0 15px;

    & .fold {
        background: white !important;
        line-height: 40px !important;
        height: 40px !important;
        border-bottom: 1px solid #f4f4f4;
    }
}