@import '../../../libs/root.css';

.storage-manager-devices{
    margin-bottom: 20px;

    & .storage-manager-ip{
        position: relative;
        width: 100%;
        height: 30px;
        padding: 5px !important;
        border-radius: 2px;
        font-size: 13px;
        border-bottom: 1px solid #efefef;
        line-height: 30px;
        cursor: pointer;
        background-color: #ffffff;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-bottom: 20px;
        color: #505050;


        &:hover{
            background-color: #ffffff;
        }

        & .storage-manager-ip-content{
            padding-left: 20px;
        }

        & .storage-manager-expand-icon{
            padding:0 15px;
        }

        & .storage-manager-empty-icon{
            position: absolute;
            top: 50%;
            right: 10px;
            font-size: 13px;
            transform: translateY(-50%);
            background-color: #f1f6fa;
            color: #666666;

            &:hover{
                background-color: var(--background-light__hover);
            }

            &:active{
                background-color: var(--background-light__active);
            }
        }

    }

    & .storage-manager-list{
        margin-right: -2px;
        border-top: 0;
        color: #666;
        
        & .storage-manager-list-head{
            position: relative;
            height: 40px;
            background: #f5f9ff;
            line-height: 40px;
            border-top: 1px solid transparent;
            border-bottom: 1px solid #f4f4f4;
            cursor: default;
            color: #757575;

            & .list-head-item{
                position: relative;
                font-weight: bold;
                padding-left: 20px;
                color: #666666;
        
                &:hover{
                    background: #f5f9ff;
                }
    
            }
            
        }

        & .storage-manager-list-body{
            white-space: nowrap;
            
            & .storage-manager-replace-icon{
                display: inline-block;
                margin-right: 10px;
                
            }
            
            & .storage-manager-delete-icon{
                display: inline-block;
            }

            & .stackbar{
                width: 80% !important;
                height: 25px;
                background-color: #fff;
                vertical-align: middle;
                margin-bottom: 3px;
                
                & .storage-percent-info{
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    transform: translateY(-50%);
                }

                & .stack{
                    background-color: #b1c2d0 !important;
                }

            }


        }
    }
}

.font-bold{
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
}

.font-color-red{
    display: inline-block;
    color: #d70000;
    vertical-align: middle;
}

.font-color-green{
    display: inline-block;
    color: #049800;
    vertical-align: middle;

}