:local .imgBox {
    & .img {
        max-width: inherit;
        max-height: inherit;
        width: auto;
        height: auto;
    }
    
    & .zoom_btn_container {
        position: fixed;
        height: 40px;
        left: 0;
        right: 0;
        bottom: 10px;
    }

    & .zoom_btn_container a {
        margin: 0 10px;
    }
    
    & .message {
        color: #f0f0f0;
    }
}