@import '../../libs/root.css';

.container{
    position: absolute;
    top:0;
    bottom: 0;
    left: var(--layout-spacing-medium);
    right: var(--layout-spacing-medium);
    font-size: var(--font-size-regular);
}
