.search-box {
    float: right;

    & .search-width {
        width: 260px;
    }
}

.margin-left {
    margin-left: 5px;
}

.doc-name {
    display: inline-block;
    margin-left: 10px;
}

.download-illegalfile {
    margin: auto 5px;

    &:hover {
        cursor: pointer;
    }
}

.on-fetch {
    opacity: 0.3;
}

.warning-footer {
    margin-top: 20px;
}

.reserve-complaint {
    display: inline-block;
    position: relative;
    left: 350px;
}

.need-review {
    font-weight: bold;

    & .appeal-approval {
        margin-right: 5px;
    }
}

.no-appeal {
    margin-left: 20px;
}

.form-label {
    min-width: 90px;
}

.reason-block {
    display: inline;

    & .reason-label {
        position: relative;
        bottom: 85px;
    }

}

.appeal-reason {
    width: 300px !important;
    height: 180px !important;
}

.radio-box {
    display: inline-block;
    margin-right: 20px;
}

.margin-bottom {
    margin-bottom: 10px;
}