:local {
    & .search-item {
        display: block;
        position: relative;
        cursor: pointer;

        &:hover {
            text-decoration: none;
        }

        & .selected-data-Icon {
            position: absolute;
            left: 0;
            top: 0;
            display: inline-block;
        }

        & .seleted-data {
            display: block;
            margin-left: 30px;
        }
    }
}