@import '../../../libs/root.css';

.wrapper{
    padding: var(--layout-spacing-medium) var(--layout-spacing-small) var(--layout-spacing-medium) var(--layout-spacing-large);
    min-width: 1000px;

    & .category{
        text-align: center;
        height: 40px;
        line-height:40px;
        font-size: var(--font-size-subtitle);
        font-weight: bold;
        color: var(--anyshare-grey-07);
        background-color:#dceaeb;
    }

    & .text{
        height: var(--font-size-maintitle);
        line-height: var(--font-size-maintitle);
    }
}