@import '../../libs/root.css';

.storage{
    height: 100%;
    font-size: 13px;
    background-color: #fff;

    & .loading{
        position: relative;
        z-index: 20;
    }

    & .storage-panel{
        padding: 10px 0px;

        & .storage-head{
            height: 50px;
            border-bottom: 1px solid var(--anyshare-grey-04);
            padding-left: 85px;

            & .storage-head-button{
                position: relative;
                width: 180px;
                height: 50px;
                border: 0;
                z-index: 2;
                background-color: #fff;

                &:hover {
                    background-color: var(--anyshare-grey-02);
                }

                &:active {
                    background-color: var(--anyshare-grey-03);
                }
            }

            & .btn-selected{
                border-bottom: 3px solid var(--anyshare-main-red);
                background-color: #fff;
            }
        
        }

        & .storage-body{
            padding: 15px;

        }
    }
}


.font-bold{
    display: inline-block;
    font-weight: bold;
    vertical-align: middle;
}

.font-color-red{
    display: inline-block;
    color: var(--anyshare-red-05);
    vertical-align: middle;
}

.font-color-green{
    display: inline-block;
    color: var(--anyshare-green01);
    vertical-align: middle;

}